/* !: 결과물과 동일하게 하기 위해 임의로 바꾼 부분 */

@import './reset.css';

@font-face {
  font-family: 'ydiy330';
  src: url('./font/ydiygo330/YDIYGO330.woff2') format('woff2'),
    url('./font/ydiygo330/YDIYGO330.woff') format('woff');
  font-family: 'FuturaBT';
  src: url('./font/FuturaBT/futuraMediumBT.woff') format('woff');
  font-family: 'ydiywebdotum';
  src: url('./font/ydiywebdotum/YDIWebDotum.woff2') format('woff2'),
    url('./font/ydiywebdotum/YDIWebDotum.woff') format('woff');
}

:root {
  --black: #464646;
  --gray: #9b9b9b;
  --orange: #f7941e;
}

h1 {
  font-size: 20px;
  color: var(--black);
  display: inline;
  line-height: 18.58px;
  letter-spacing: -0.4px;
}

nav {
  font-size: 11px;
  letter-spacing: -0.4px;
  font-family: '돋움', Dotum;
  color: #c8c8c8;
  float: right;
  position: relative;
}

.nav_specific {
  color: var(--orange);
}

.nav_arrow {
  display: inline-block;
  width: 5px;
  height: 9px;
  background-image: url('./images/nav_arrow.png');
}

body {
  font-family: 'ydiy330', sans-serif;
  margin: 0 auto;
}

.outerbox {
  margin: 0 auto;
  width: 790px;
  height: 748px;
  /* margin-top:10px; */
}

.outerbox_head {
  width: 790px;
  height: 3px;
  background-image: url('./images/outer_border_head.png');
  background-repeat: no-repeat;
  background-position: center;
}

.outerbox_body {
  background-image: url('./images/outer_border_body.png');
  background-repeat: repeat-y;
  background-position: center;
  padding: 59px 59px;
  /* margin: 0 auto; */
}

.outerbox_tail {
  width: 790px;
  height: 3px;
  background-image: url('./images/outer_border_tail.png');
  background-repeat: no-repeat;
  background-position: center;
}

.horizontal-line {
  /* display: inline-block; */
  display: table;
  margin-top: 8px;
  margin-bottom: 34px;
}

.horizontal-line-head {
  display: table-cell;
  width: 1px;
  height: 2px;
  background-image: url('./images/horizontal-line-head.png');
}

.horizontal-line-body {
  display: table-cell;
  width: 669px;
  height: 2px;
  background-repeat: repeat-x;
  background-image: url('./images/horizontal-line-body.png');
}

.horizontal-line-tail {
  display: table-cell;
  width: 1px;
  height: 2px;
  background-image: url('./images/horizontal-line-tail.png');
}

.mission-statement {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: -0.8px;
  color: #9b9b9b;
}

.innerbox {
  margin: 0 auto;
}

.innerbox_head {
  background-image: url('./images/윤리규범/orange-horizontal-line.png');
  width: 670px;
  height: 3px;
  background-position: center;
}

.innerbox_body {
  background-image: url('./images/윤리규범/inner_box_body.png');
  width: 670px;
  height: 772px;
  background-repeat: repeat-y;
  background-position: center;
}

.innerbox_tail {
  background-image: url('./images/윤리규범/inner_box_headtail.png');
  width: 670px;
  height: 3px;
  background-repeat: no-repeat;
  background-position: center;
}

.button-container {
  font-size: 0;
}

button {
  color: white;
  text-decoration: none;
  width: 135px;
  height: 29px;
  border: none;
  cursor: pointer;
}

button:first-of-type {
  margin-right: 1px;
}

.rule-of-ethics-page {
  background-color: #c1c1c1;
}

.practice-guideline {
  background-color: #ff9500;
}

.dotted-horizontal-line {
  background-image: url('./images/dotted-horizontal-line.png');
  background-position: center;
  width: 625px;
  height: 1px;
}

.section-one > div:nth-of-type(2) {
  margin-bottom: 16px;
  margin-top: 8px;
}

.section-one > div:nth-of-type(4) {
  margin-top: 22px;
  margin-bottom: 18px;
}

.section-one > div:nth-of-type(5) {
  margin-bottom: 18px;
  margin-top: 8px;
}

ol {
  /* display: table; */
}

li {
  display: inline;
}

ol:first-of-type {
  background-color: #f4f4f4;
  width: 622px;
  height: 41px;
}

ol:first-of-type li {
  padding-top: 15px;
}

ol:first-of-type li:first-of-type {
  padding-left: 20px;
  /* padding-top: 15px; */
}

ol:nth-of-type(2) {
  background-color: #f4f4f4;
  width: 622px;
  height: 73px;
}

.list-numbering {
  font-size: 14px;
  letter-spacing: -1.6px;
  font-family: 'FuturaBT';
  color: var(--orange);
  font-weight: 800; /*!*/
}

.list-item {
  font-size: 14px;
  letter-spacing: -0.8px;
  color: var(--gray);
}

.section-one {
  padding-left: 21px;
  padding-top: 21px;
}

.section-one > ul:nth-child(1) {
  background-color: #f4f4f4;
  width: 622px;
  height: 41px;
}

.section-one > ul:nth-child(2) {
  background-color: #f4f4f4;
  width: 622px;
  height: 73px;
}

.section-two {
  padding-left: 21px;
  /* padding-top: 2 1px; */
  font-family: 'ydiywebdotum';
  font-size: 11px;
  line-height: 16px;
  color: #949494;
}

.section-one > .title {
  font-size: 15px;
  line-height: 18.58px;
  letter-spacing: -0.8px;
  color: var(--gray);
}

.section-two .title,
.sub-list-container {
  margin-bottom: 22px;
}

.section-two .title {
  font-weight: bolder; /*!*/
}

.sub-list-container {
  margin-left: 7px;
}

.sub-sub-list {
}

.main-list {
  color: #ff9501;
}

.main-list,
.mid-list {
  font-weight: bolder;
}
