/* !: 결과물과 동일하게 하기 위해 임의로 바꾼 부분 */

@import './reset.css';

@font-face {
  font-family: 'ydiy330';
  src: url('./font/ydiygo330/YDIYGO330.woff2') format('woff2'),
    url('./font/ydiygo330/YDIYGO330.woff') format('woff');
  font-family: 'FuturaBT';
  src: url('./font/FuturaBT/futuraMediumBT.woff') format('woff');
  font-family: 'ydiy340';
  src: url('./font/ydiygo340/YDIYGO340.woff2') format('woff2'),
    url('./font/ydiygo340/YDIYGO340.woff') format('woff');
}

:root {
  --black: #464646;
  --gray: #9b9b9b;
  --orange: #f7941e;
}

h1 {
  font-size: 20px;
  color: var(--black);
  display: inline;
  line-height: 18.58px;
  letter-spacing: -0.4px;
}

nav {
  font-size: 11px;
  letter-spacing: -0.4px;
  font-family: '돋움', Dotum;
  color: #c8c8c8;
  float: right;
  position: relative;
}

.nav_specific {
  color: var(--orange);
}

.nav_arrow {
  display: inline-block;
  width: 5px;
  height: 9px;
  background-image: url('./images/nav_arrow.png');
}

body {
  font-family: 'ydiy330', sans-serif;
  margin: 0 auto;
}

.outerbox {
  margin: 0 auto;
  width: 790px;
  height: 748px;
  /* margin-top:10px; */
}

.outerbox_head {
  width: 790px;
  height: 3px;
  background-image: url('./images/outer_border_head.png');
  background-repeat: no-repeat;
  background-position: center;
}

.outerbox_body {
  background-image: url('./images/outer_border_body.png');
  background-repeat: repeat-y;
  background-position: center;
  padding: 59px 59px;
  /* margin: 0 auto; */
}

.outerbox_tail {
  width: 790px;
  height: 3px;
  background-image: url('./images/outer_border_tail.png');
  background-repeat: no-repeat;
  background-position: center;
}

.horizontal-line {
  /* display: inline-block; */
  display: table;
  margin-top: 8px;
  margin-bottom: 34px;
}

.horizontal-line-head {
  display: table-cell;
  width: 1px;
  height: 2px;
  background-image: url('./images/horizontal-line-head.png');
}

.horizontal-line-body {
  display: table-cell;
  width: 669px;
  height: 2px;
  background-repeat: repeat-x;
  background-image: url('./images/horizontal-line-body.png');
}

.horizontal-line-tail {
  display: table-cell;
  width: 1px;
  height: 2px;
  background-image: url('./images/horizontal-line-tail.png');
}

strong {
  font-size: 19px;
  letter-spacing: -0.4px;
  color: var(--black);
  /* margin-bottom: 34px; */
}

.innerbox {
}

.innerbox_head {
  background-image: url('./images/윤리규범/orange-horizontal-line.png');
  width: 670px;
  height: 3px;
  background-position: center;
}

.innerbox_body {
  margin: 0 auto;
}

button {
  color: white;
  text-decoration: none;
  width: 135px;
  height: 29px;
  border: none;
}

.rule-of-ethics-page {
  background-color: #c1c1c1;
}

.practice-guideline {
  background-color: #ff9500;
}

.dotted-horizontal-line {
  background-image: url('./images/dotted-horizontal-line.png');
  background-position: center;
  width: 625px;
  height: 1px;
  /* background-repeat: repeat-x; */
  margin: 0 auto;
}

.button-container {
  font-size: 0;
  position: relative;
  top: 491px;
}

.orange-button,
.white-button {
  display: inline;
}

.orange-button {
  margin-left: 192px;
  margin-right: 4px;
}

.orange-button-head {
  background-image: url('./images/인재상/orange-button-head.png');
  width: 3px;
  height: 36px;
  display: inline-block;
}
.orange-button-body {
  background-image: url('./images/인재상/orange-button-body-whole.png');
  width: 113px;
  height: 36px;
  display: inline-block;
}
.orange-button-tail {
  background-image: url('./images/인재상/orange-button-tail.png');
  width: 4px;
  height: 36px;
  display: inline-block;
}

.white-button-head {
  background-image: url('./images/인재상/white-button-head.png');
  width: 3px;
  height: 36px;
  display: inline-block;
}
.white-button-body {
  background-image: url('./images/인재상/white-button-body-whole.png');
  width: 150px;
  height: 36px;
  display: inline-block;
}
.white-button-tail {
  background-image: url('./images/인재상/white-button-tail.png');
  width: 5px;
  height: 36px;
  display: inline-block;
}

.main-board {
  width: 672px;
  height: 455px;
  background-image: url('./images/인재상/main-board.png');
  /* color: red; */
  margin-top: 34px;
  position: absolute;
}

.title {
  font-size: 17.5px;
  letter-spacing: -1.2px;
  font-family: 'ydiy340';
  color: #ff8c25;
}

.content {
  font-size: 12.93px;
  letter-spacing: -0.8px;
  color: #636363;
  line-height: 1.2; /*!임의*/
}

.section:first-of-type {
  /* display: inline; */
  /* padding-left: 57px; */
  /* padding-top: 36px; */
  margin: 0 auto;
  text-align: center;
  /* width: 119px; */
  position: absolute;
  top: 36px;
  left: 37px;
}

.section:first-of-type > .title {
  margin-bottom: 25px;
}

.section:nth-of-type(2) {
  margin: 0 auto;
  text-align: center;
  /* display: inline;
  padding-left: 526px; */
  /* padding-top: 35px; */
  position: absolute;
  top: 36px;
  left: 492px;
}

.section:nth-of-type(2) > .title {
  margin-bottom: 25px;
}

.section:nth-of-type(3) {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 286px;
  left: 24px;
}

.section:nth-of-type(3) > .title {
  margin-bottom: 26px;
}

.section:nth-of-type(4) {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 284px;
  left: 476px;
}

.section:nth-of-type(4) > .title {
  margin-bottom: 26px;
}
