/* !: 결과물과 동일하게 하기 위해 임의로 바꾼 부분 */

@import './reset.css';

@font-face {
  font-family: 'ydiy330';
  src: url('./font/ydiygo330/YDIYGO330.woff2') format('woff2'),
    url('./font/ydiygo330/YDIYGO330.woff') format('woff');
  font-family: 'FuturaBT';
  src: url('./font/FuturaBT/futuraMediumBT.woff') format('woff');
}

:root {
  --black: #464646;
  --gray: #9b9b9b;
  --orange: #f7941e;
}

h1 {
  font-size: 20px;
  color: var(--black);
  display: inline;
  line-height: 18.58px;
  letter-spacing: -0.4px;
}

body {
  font-family: 'ydiy330', sans-serif;
  margin: 0 auto;
}

nav {
  font-size: 11px;
  letter-spacing: -0.4px;
  font-family: '돋움', Dotum;
  color: #c8c8c8;
  float: right;
  position: relative;
}

.nav_specific {
  color: var(--orange);
}

.nav_arrow {
  display: inline-block;
  width: 5px;
  height: 9px;
  background-image: url('./images/nav_arrow.png');
}
body {
  font-family: 'ydiy330', sans-serif;
  margin: 0 auto;
}

.outerbox {
  margin: 0 auto;
  width: 790px;
  height: 865px;
  /* margin-top:10px; */
}

.outerbox_head {
  width: 790px;
  height: 3px;
  background-image: url('./images/outer_border_head.png');
  background-repeat: no-repeat;
  background-position: center;
}

.outerbox_body {
  background-image: url(./images/outer_border_body.png);
  background-repeat: repeat-y;
  background-position: center;
  padding: 59px 59px;
  /* margin: 0 auto; */
}

.innerbox {
  margin: 0 auto;
  width: 670px;
  height: 633px;
}

.innerbox_body {
  /* margin-top: 30px; */
  /* margin-left: 30px; */
  background-image: url('./images/채용안내/inner_box_body.png');
  background-repeat: repeat-y;
  background-position: center;
  /* width: 670px; */
  height: 633px;
}

.section {
  display: table;
}

.section:nth-of-type(n) .thumbnail {
  width: 65px;
  height: 65px;
  margin-right: 22px;
}

.innerbox_body > div:nth-of-type(1) > .thumbnail {
  margin-top: 30px;
}

.innerbox_body > div:nth-of-type(1) > .thumbnail,
.innerbox_body > div:nth-of-type(5) > .thumbnail {
  background-image: url('./images/인사관리/yellow-box.png');
}

.innerbox_body > div:nth-of-type(3) > .thumbnail,
.innerbox_body > div:nth-of-type(7) > .thumbnail {
  background-image: url('./images/인사관리/orange-box.png');
}

.thumbnail {
  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.8px;
  color: white;
  text-align: center;
  margin-left: 34px;
  /* vertical-align: middle; */
}

.thumbnail-text {
  position: relative;
  top: 20%;
}

.description {
  display: table-cell;
  font-size: 11px;
  line-height: 18px;
  font-family: 'dotum', sans-serif;
  color: #9b9b9b;
}

/* .section:nth-child(3) .thumbnail {
  background-image: url('./images/인사관리/yellow-box.png');
  width: 65px;
  height: 65px;
} */

/* .section:nth-child(3) .thumbnail {
  background-image: url('./images/인사관리/yellow-box.png');
  width: 65px;
  height: 65px;
} */

/* .innerbox_body .thumbnail:nth-child(2) {
  background-image: url('./images/인사관리/orange-box.png');
  width: 65px;
  height: 65px;
} */

.innerbox_headtail {
  background-image: url('./images/채용안내/inner_box_headtail.png');
  background-repeat: no-repeat;
  background-position: center;
  width: 670px;
  height: 3px;
}

.outerbox_tail {
  width: 790px;
  height: 3px;
  background-image: url('./images/outer_border_tail.png');
  background-repeat: no-repeat;
  background-position: center;
}

.dotted-horizontal-line {
  background-image: url('./images/dotted-horizontal-line.png');
  background-position: center;
  width: 625px;
  height: 1px;
  margin: 0 auto;
}

.innerbox_body > div:nth-of-type(2) {
  margin-top: 20px;
  margin-bottom: 20px;
}

.innerbox_body > div:nth-of-type(4) {
  margin-top: 20px;
  margin-bottom: 29px;
}

.innerbox_body > div:nth-of-type(6) {
  margin-top: 45px;
  margin-bottom: 30px;
}

.horizontal-line {
  /* display: inline-block; */
  display: table;
  margin-top: 4px;
  margin-bottom: 28px;
}

.horizontal-line-head {
  display: table-cell;
  width: 1px;
  height: 2px;
  background-image: url('./images/horizontal-line-head.png');
}

.horizontal-line-body {
  display: table-cell;
  width: 669px;
  height: 2px;
  background-repeat: repeat-x;
  background-image: url('./images/horizontal-line-body.png');
}

.horizontal-line-tail {
  display: table-cell;
  width: 1px;
  height: 2px;
  background-image: url('./images/horizontal-line-tail.png');
}

.mission-statement p {
  color: #d1d1d1;
}

.mission-statement strong {
  color: var(--orange);
  line-height: 24px;
}
