/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    /* added personally */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  /* added personally from below */
  a {
    text-decoration: none;
    color: black;
  }

  button {
    padding: 0;
    border: none;
    background: transparent;
  }

  label,
  input[type='radio'],
  button {
    cursor: pointer;
  }

  input[type='checkbox'] {
    margin: 0;
  }

  input[type='text'] {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    background: transparent;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  select {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
  }

  /* for customizing the 'browsing-file' functionality */
  input[type='file'] {
    position: absolute;
    top: -200%;
    left: -200%;
    opacity: 0;
    z-index: -100;
  }

  strong,
  .bolder {
    font-weight: bolder;
  }
}

/* 
#####  ###### #####   ####   ####  #    #   ##   #         #####  ######  ####  ###### #####  ####   ####   ####  
#    # #      #    # #      #    # ##   #  #  #  #         #    # #      #      #        #   #    # #      #      
#    # #####  #    #  ####  #    # # #  # #    # #         #    # #####   ####  #####    #   #       ####   ####  
#####  #      #####       # #    # #  # # ###### #         #####  #           # #        #   #           #      # 
#      #      #   #  #    # #    # #   ## #    # #         #   #  #      #    # #        #   #    # #    # #    # 
#      ###### #    #  ####   ####  #    # #    # ######    #    # ######  ####  ######   #    ####   ####   ####  
*/
.whitespace-remover {
  font-size: 0;
}

table td {
  vertical-align: top;
}

/* 
#####   ####  #####  #   # 
#    # #    # #    #  # #  
#####  #    # #    #   #   
#    # #    # #    #   #   
#    # #    # #    #   #   
#####   ####  #####    #   
*/

body {
  width: 1280px;
  margin: 0 auto;
}

/* 
    #    # ######   ##   #####  ###### #####  
    #    # #       #  #  #    # #      #    # 
    ###### #####  #    # #    # #####  #    # 
### #    # #      ###### #    # #      #####  
### #    # #      #    # #    # #      #   #  
### #    # ###### #    # #####  ###### #    # 
*/

.header {
  position: relative;
  padding-left: 160px;
  padding-right: 160px;
  width: 1280px;
  height: 80px;
  background: url('./images/header-background.png') repeat;
  box-sizing: border-box;
}

.header .logo {
  position: absolute;
  top: 42px;
  left: 196px;
  /* display: inline-block; */
}

.header .logo::before {
  content: '';
  position: absolute;
  top: -26px;
  left: -37px;
  background: url('./images/title-icon.png');
  width: 76px;
  height: 30px;
}

.header .navigation-bar {
  /* display: inline-block; */
  position: absolute;
  top: 42px;
  left: 398px;
}

.header .navigation-bar ul::after {
  content: '';
  display: inline-block;
  clear: both;
}

.header .navigation-bar ul li {
  /* position: relative; */
  float: left;
}

.header .navigation-bar ul li:not(:first-of-type) {
  margin-left: 49px;
}

.header .navigation-bar ul .the-place,
.header .navigation-bar ul .the-items {
  position: relative;
  margin-top: -1px;
}

.header .navigation-bar ul .the-academy,
.header .navigation-bar ul .customer-service,
.header .navigation-bar ul .success-gallery {
  padding-top: 1px;
}

.header .navigation-bar ul .success-gallery::before {
  content: '';
  position: absolute;
  top: -5px;
  left: -40px;
  width: 32px;
  height: 27px;
  background: url('./images/navigation_success-gallery-icon.png') no-repeat;
  cursor: pointer;
}

.header .navigation-bar ul li.success-gallery {
  position: relative;
  margin-left: 89px;
}

.header .utility {
  /* display: inline-block; */
  padding-top: 4px;
  float: right;
}

.header .utility ul::after {
  content: '';
  display: inline-block;
  clear: both;
}

.header .utility ul li {
  position: relative;
  float: left;
}

.header .utility ul li:not(:first-of-type)::before {
  content: '';
  position: absolute;
  top: 6px;
  left: -7px;
  background: url('./images/utility_vertical-bar.png');
  width: 1px;
  height: 6px;
}

.header .utility ul li:not(:first-of-type) {
  margin-left: 14px;
}

/* 
    #    #   ##   # #    # 
    ##  ##  #  #  # ##   # 
    # ## # #    # # # #  # 
### #    # ###### # #  # # 
### #    # #    # # #   ## 
### #    # #    # # #    # 
*/

.main {
  padding-left: 158px;
  padding-right: 160px;
}

/* 
    ######  ####   ####  ##### ###### #####  
    #      #    # #    #   #   #      #    # 
    #####  #    # #    #   #   #####  #    # 
### #      #    # #    #   #   #      #####  
### #      #    # #    #   #   #      #   #  
### #       ####   ####    #   ###### #    # 
*/
