@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Open+Sans&display=swap');

@font-face {
  font-family: 'digital-7';
  src: url('../fonts/digital-7.woff') format('woff'),
    url('../fonts/digital-7.woff2') format('woff2');
}

/* 
#    #  ####  #####  #    # #      ######  ####  
##  ## #    # #    # #    # #      #      #      
# ## # #    # #    # #    # #      #####   ####  
#    # #    # #    # #    # #      #           # 
#    # #    # #    # #    # #      #      #    # 
#    #  ####  #####   ####  ###### ######  ####  
*/
.hidden {
  display: none;
}

.input-container {
  border-bottom: 1px solid black;
}

.input-container input {
  font-size: 30px;
  text-align: center;
}

/* https://www.webfx.com/blog/web-design/responsive-background-image/ */
/* 
#####   ####  #####  #   # 
#    # #    # #    #  # #  
#####  #    # #    #   #   
#    # #    # #    #   #   
#    # #    # #    #   #   
#####   ####  #####    #   
*/
body {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center center;
  background-color: hsl(0, 0%, 27%);
  padding: 100px 10px 100px 10px;
  text-align: center;
  margin: 0;
}

.content-wrapper {
  display: inline-block;
  position: relative;
  padding: 100px 50px 100px 50px;
  background: #ffffff;
  text-align: center;
  opacity: 0.8;
  border-radius: 10px;
  min-width: 300px;
  max-width: 800px;
  box-sizing: border-box;
}

/* 
#####  ####  #####   ####  
  #   #    # #    # #    # 
  #   #    # #    # #    # 
  #   #    # #    # #    # 
  #   #    # #    # #    # 
  #    ####  #####   ####  
*/

.todo-form {
  position: relative;
  margin-top: 20px;
  text-align: right;
  padding-bottom: 15px;
}

.todo-list {
  text-align: left;
}

.todo-list li {
  position: relative;
  padding-right: 37px;
  margin-top: 8px;
}

.todo-list li .list-item {
  word-wrap: anywhere;
}

.todo-list .button-container {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
}

.todo-button {
  padding: 2px;
  color: #5353ff;
  margin-top: 5px;
  font-size: 15px;
  background: aliceblue;
  border: 1px solid rgb(181, 218, 250);
}

.confirm-button {
  position: absolute;
  top: 0;
  right: 18px;
}

.edit-input-container {
  border: 1px solid black;
}

/* 
 ####  #####  ###### ###### ##### # #    #  ####   ####  
#    # #    # #      #        #   # ##   # #    # #      
#      #    # #####  #####    #   # # #  # #       ####  
#  ### #####  #      #        #   # #  # # #  ###      # 
#    # #   #  #      #        #   # #   ## #    # #    # 
 ####  #    # ###### ######   #   # #    #  ####   ####  
*/

.login-form {
  position: relative;
  margin-top: 20px;
  text-align: right;
}

.login-button {
  padding: 2px;
  color: #5353ff;
  margin-top: 5px;
  font-size: 15px;
  background: aliceblue;
  border: 1px solid rgb(181, 218, 250);
}

.greeting {
  font-weight: bolder;
  font-size: 50px;
  margin-top: 20px;
}

/* 
 ####  #    #  ####  ##### ######  ####  
#    # #    # #    #   #   #      #      
#    # #    # #    #   #   #####   ####  
#  # # #    # #    #   #   #           # 
#   #  #    # #    #   #   #      #    # 
 ### #  ####   ####    #   ######  ####  
*/

.quote-container {
  margin-top: 20px;
}

.quote-container .title {
  font-size: 40px;
  font-weight: normal;
}

.quote-container .content {
  margin-top: 20px;
}

.quote-container .author,
.quote-container .quote {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.quote-container .author {
  display: inline-block;
  font-weight: bolder;
  font-size: 16px;
}

.quote-container .quote {
  margin-top: 5px;
}

.quote-container .admin-message {
  margin-top: 10px;
}

/* 
 ####  #       ####   ####  #    # 
#    # #      #    # #    # #   #  
#      #      #    # #      ####   
#      #      #    # #      #  #   
#    # #      #    # #    # #   #  
 ####  ######  ####   ####  #    # 
*/

.clock-container {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #000000;
  padding: 5px;
  border-radius: 5px;
}

.clock {
  color: #ffffff;
  font-family: 'digital-7', sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

.clock::after {
  content: '';
  display: block;
  clear: both;
}

.clock span {
  float: left;
}

/* 
#    # ######   ##   ##### #    # ###### #####  
#    # #       #  #    #   #    # #      #    # 
#    # #####  #    #   #   ###### #####  #    # 
# ## # #      ######   #   #    # #      #####  
##  ## #      #    #   #   #    # #      #   #  
#    # ###### #    #   #   #    # ###### #    # 
*/

.weather {
  position: absolute;
  top: 10px;
  left: 10px;
  font-family: 'dinbol', sans-serif;
  padding: 5px;
  border-radius: 5px;
  background: #ffd6d662;
}

.weather div {
  text-align: left;
}

.weather .location {
  margin-top: 5px;
}

/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  /* body, */
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    /* added personally */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  /* added personally from below */
  a {
    text-decoration: none;
    color: black;
  }

  button {
    padding: 0;
    border: none;
    background: transparent;
  }

  label,
  input[type='radio'],
  button {
    cursor: pointer;
  }

  input[type='checkbox'],
  input[type='radio'] {
    margin: 0;
  }

  input[type='text'] {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    background: transparent;
  }

  input[type='text']:focus {
    outline: none;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  select {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
  }

  /* for customizing the 'browsing-file' functionality */
  input[type='file'] {
    position: absolute;
    top: -200%;
    left: -200%;
    opacity: 0;
    z-index: -100;
  }

  strong,
  .bolder {
    font-weight: bolder;
  }
}

/* 
#####  ###### #####   ####   ####  #    #   ##   #         #####  ######  ####  ###### #####  ####   ####   ####  
#    # #      #    # #      #    # ##   #  #  #  #         #    # #      #      #        #   #    # #      #      
#    # #####  #    #  ####  #    # # #  # #    # #         #    # #####   ####  #####    #   #       ####   ####  
#####  #      #####       # #    # #  # # ###### #         #####  #           # #        #   #           #      # 
#      #      #   #  #    # #    # #   ## #    # #         #   #  #      #    # #        #   #    # #    # #    # 
#      ###### #    #  ####   ####  #    # #    # ######    #    # ######  ####  ######   #    ####   ####   ####  
*/
.whitespace-remover {
  font-size: 0;
}

table td {
  vertical-align: top;
}
