/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
  }
}

/* 
 ####  ###### #    # ###### #####    ##   #      
#    # #      ##   # #      #    #  #  #  #      
#      #####  # #  # #####  #    # #    # #      
#  ### #      #  # # #      #####  ###### #      
#    # #      #   ## #      #   #  #    # #      
 ####  ###### #    # ###### #    # #    # ###### 
*/

body {
  padding-top: 100px;
  padding-bottom: 100px;
}

button {
  padding: 0;
  border: none;
}

input {
  border: 0 none;
  background: transparent;
  width: 100%;
}

input[type='radio'] {
  margin: 0;
}

input[type='file'] {
  position: absolute;
  top: -200%;
  left: -200%;
  opacity: 0;
  z-index: -100;
}

table {
  width: 100%;
}

button {
  cursor: pointer;
}

.input-wrapper.d8d8d8 {
  border: 1px solid #d8d8d8;
}

.input-wrapper.e5e5e5 {
  border: 1px solid #e5e5e5;
}

p.bullet {
  padding-left: 10px;
}

p.bullet::before {
  content: '∙';
  position: absolute;
  left: 23px;
}

/* 
    #    # ######   ##   #####  ###### #####  
    #    # #       #  #  #    # #      #    # 
    ###### #####  #    # #    # #####  #    # 
### #    # #      ###### #    # #      #####  
### #    # #      #    # #    # #      #   #  
### #    # ###### #    # #####  ###### #    # 
*/

.header {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 15px;
}

h1::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 5px;
  height: 16px;
  background: url('./images/h1_icon.png');
}

h1 {
  font-size: 0;
}

/* 
    #####   ####  #####  #   # 
    #    # #    # #    #  # #  
    #####  #    # #    #   #   
### #    # #    # #    #   #   
### #    # #    # #    #   #   
### #####   ####  #####    #   
*/

.body h2.index5,
.body h2.index6 {
  position: absolute;
  left: 20px;
  color: #969696;
}

.body p.index5,
.body ul.index5,
.body ul.index6,
.body .input-container.index6 {
  padding-left: 53px;
}

.body p,
.body ul,
input[type='text'],
.input-length {
  color: #646464;
}

.body h2,
.body p,
.body ul,
.input-length,
input[type='text'] {
  font-size: 12px;
  font-family: 'dotum', sans-serif;
}

.body.top {
  padding-right: 20px;
  border-top: 1px solid #c6c6c6;
}

.body.top.bottom {
  padding-right: 16px;
  border-top: 1px solid #c6c6c6;
  border-bottom: 1px solid #c6c6c6;
}

.body.top.bottom.index1,
.body.top.bottom.index2 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.body.top.bottom.index5,
.body.top.bottom.index6 {
  padding-top: 20px;
  padding-bottom: 16px;
}

.body.top.bottom.index7,
.body.top.bottom.index8,
.body.top.bottom.index9,
.body.top.bottom.index10 {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 20px;
}
/* 
    # #    # #####  #    # ##### 
    # ##   # #    # #    #   #   
    # # #  # #    # #    #   #   
### # #  # # #####  #    #   #   
### # #   ## #      #    #   #   
### # #    # #       ####    #   
*/

.input-container {
  /* position: relative; */
}

.input-container.index6:first-of-type .input-wrapper {
  padding-right: 76px;
}

.input-container.index6:nth-of-type(2) .input-wrapper {
  padding-right: 87px;
}

.input-container.index7 {
  padding-right: 83px;
}

.input-container.index7 + ul {
  margin-top: 15px;
}

.input-container.index8 {
  padding-left: 97px;
  padding-right: 53px;
}

.input-container.index9 .input-wrapper {
  padding-right: 70px;
}

.input-length {
  position: absolute;
  top: 4px;
  right: 6px;
}

.coupon-image {
  display: block;
  text-align: center;
}

.coupon-image.absolute {
  position: absolute;
  left: 20px;
}

.right {
  padding-left: 239px;
}

.coupon-image.center {
  text-align: center;
}

.input-container.second {
  position: absolute;
  right: 0;
  top: 23px;
}

.input-wrapper.first {
  width: 46.6vw;
  border: 1px solid #d5d5d5;
  background: #eaeaea;
}

.input-wrapper.second::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -15px;
  margin-top: -4px;
  width: 8px;
  height: 10px;
  background: url('./images/arrow-right.png') no-repeat;
}

.input-wrapper.second {
  position: relative;
  width: 46.6vw;
  border: 1px solid #e5e5e5;
}

/* 
    #####   ##   #####  #      ######        ####   ####  #    # #####   ##   # #    # ###### #####  
      #    #  #  #    # #      #            #    # #    # ##   #   #    #  #  # ##   # #      #    # 
      #   #    # #####  #      #####  ##### #      #    # # #  #   #   #    # # # #  # #####  #    # 
###   #   ###### #    # #      #            #      #    # #  # #   #   ###### # #  # # #      #####  
###   #   #    # #    # #      #            #    # #    # #   ##   #   #    # # #   ## #      #   #  
###   #   #    # #####  ###### ######        ####   ####  #    #   #   #    # # #    # ###### #    #
*/

.table-wrapper {
  overflow-y: scroll;
}

.table-container {
  padding-top: 20px;
}

.table-container.first {
  position: relative;
}

.table-container.first table.thead,
.textarea-wrapper.customize {
  margin-top: 10px;
}

.table-container.first table.thead th {
  height: 32px;
  line-height: 32px;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'dotum', sans-serif;
  border-bottom: 1px solid #e6cec0;
  box-sizing: border-box;
  background: #f4e9e3;
}

.table-container.second table th {
  height: 32px;
  line-height: 32px;
  color: #323232;
  font-size: 12px;
  font-family: 'dotum', sans-serif;
}

.table-container.second table td {
  height: 45px;
  line-height: 45px;
  color: #646464;
  font-size: 12px;
  font-family: 'dotum', sans-serif;
  text-align: center;
}

.table-container.first table.thead {
  border-top: 1px solid #d8b19b;
}

.table-container.first table.tbody {
  border-bottom: 1px solid #d8b19b;
}

.table-container.second table {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #e1e1e1;
}

.table-container.first table th {
  line-height: 32px;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'dotum', sans-serif;
  border-bottom: 1px solid #e6cec0;
  box-sizing: border-box;
  background: #f4e9e3;
}

.table-container.second table th {
  background: #f5f5f5;
}

.table-container table thead {
  color: #969696;
}

.table-container table tbody {
  color: #646464;
}

.table-container.first table td {
  position: relative;
  padding-top: 10.5px;
  padding-left: 22px;
  height: 42px;
  line-height: 21px;
  box-sizing: border-box;
  border-bottom: 1px solid #ead6ca;
}

.table-container.first table td label {
  color: #646464;
  font-size: 12px;
  font-family: 'dotum', sans-serif;
}

.table-container.second table td {
  border-bottom: 1px solid #f0f0f0;
}

.table-container.first table tbody tr:nth-of-type(2n-1) td {
  background: white;
}

.table-container.first table tbody tr:nth-of-type(2n) td {
  background: #fcf9f8;
}

/* 
##### ###### #    # #####   ##   #####  ######   ##   
  #   #       #  #    #    #  #  #    # #       #  #  
  #   #####    ##     #   #    # #    # #####  #    # 
  #   #        ##     #   ###### #####  #      ###### 
  #   #       #  #    #   #    # #   #  #      #    # 
  #   ###### #    #   #   #    # #    # ###### #    # 
*/

.textarea-container {
  margin-top: 20px;
}

textarea {
  width: 100%;
  height: 52px;
  padding: 0;
  border: 0 none;
  box-sizing: border-box;
}

.textarea-wrapper.customize {
  position: relative;
  padding: 0 0 18px 0;
  border: 1px solid #e5e5e5;
}

.textarea-wrapper.customize,
.textarea-wrapper.customize textarea {
  background: #f8f8f8;
}

.textarea-length {
  position: absolute;
  bottom: 5px;
  right: 5px;
  color: #646464;
  font-size: 12px;
  font-family: 'dotum', sans-serif;
}

/* 
    #####  #    # ##### #####  ####  #    #        ####   ####  #    # #####   ##   # #    # ###### #####  
    #    # #    #   #     #   #    # ##   #       #    # #    # ##   #   #    #  #  # ##   # #      #    # 
    #####  #    #   #     #   #    # # #  # ##### #      #    # # #  #   #   #    # # # #  # #####  #    # 
### #    # #    #   #     #   #    # #  # #       #      #    # #  # #   #   ###### # #  # # #      #####  
### #    # #    #   #     #   #    # #   ##       #    # #    # #   ##   #   #    # # #   ## #      #   #  
### #####   ####    #     #    ####  #    #        ####   ####  #    #   #   #    # # #    # ###### #    #
*/

.button-container {
  margin-top: 10px;
  text-align: center;
}

.button-container.index4 {
  margin-top: 21px;
}

.orange-button_body,
.white-button_body {
  padding-top: 6px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
}

.orange-button_head {
  padding-left: 2px;
  height: 25px;
  background: url('./images/orange-button_head.png') left no-repeat;
}
.orange-button_tail {
  display: inline-block;
  padding-right: 1px;
  height: 25px;
  background: url('./images/orange-button_tail.png') right no-repeat;
  vertical-align: top;
}
.orange-button_body {
  display: inline-block;
  height: 25px;
  background: url('./images/orange-button_body.png') center repeat-x;
  vertical-align: top;
}

.white-button_head {
  padding-left: 1px;
  height: 25px;
  background: url('./images/white-button_head.png') left no-repeat;
}
.white-button_tail {
  display: inline-block;
  padding-right: 1px;
  height: 25px;
  background: url('./images/white-button_tail.png') right no-repeat;
  vertical-align: top;
}
.white-button_body {
  display: inline-block;
  height: 25px;
  background: url('./images/white-button_body.png') center repeat-x;
  vertical-align: top;
}

/* 
#       ####   ####  #    # #    # #####        #####  #    # ##### #####  ####  #    # 
#      #    # #    # #   #  #    # #    #       #    # #    #   #     #   #    # ##   # 
#      #    # #    # ####   #    # #    # ##### #####  #    #   #     #   #    # # #  # 
#      #    # #    # #  #   #    # #####        #    # #    #   #     #   #    # #  # # 
#      #    # #    # #   #  #    # #            #    # #    #   #     #   #    # #   ## 
######  ####   ####  #    #  ####  #            #####   ####    #     #    ####  #    # 
*/

.lookup-button_head {
  position: absolute;
  top: 0;
  right: 0;
  padding-left: 1px;
  height: 22px;
  background: url('./images/lookup-button_head.png') left no-repeat;
}

.lookup-button_tail {
  display: inline-block;
  padding-right: 1px;
  height: 22px;
  background: url('./images/lookup-button_tail.png') right no-repeat;
  vertical-align: top;
}

.lookup-button_body {
  display: inline-block;
  height: 22px;
  line-height: 22px;
  color: #646464;
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  background: url('./images/lookup-button_body.png') center repeat-x;
  box-sizing: border-box;
  vertical-align: top;
}

.lookup-button_body.index7 {
  padding-left: 14px;
  padding-right: 17px;
}

.lookup-button_body.index8 {
  padding-left: 11px;
  padding-right: 14px;
}

#selectbox_index8 {
  position: absolute;
  left: 0;
  width: 88px;
  height: 20px;
}

.number-change-container::before {
  content: '';
  position: absolute;
  top: 12px;
  width: 100%;
  height: 1px;
  background: url('./images/horizontal-dotted-line.png') repeat-x;
}

.number-change-container {
  position: relative;
  padding-top: 23px;
}
