/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */

/* Add a Breakpoint */

/* Always Design for Mobile First */

/* Another Breakpoint */

/* Typical Device Breakpoints */

/* Orientation: Portrait / Landscape */

/* Hide Elements With Media Queries */

/* Change Font Size With Media Queries */

.header {
  height: 200px;
  background: orange;
}

.main {
  margin-top: 20px;
}

.main .banner {
  height: 200px;
  background: skyblue;
}

.main .article-container {
  margin-top: 20px;
  /* font-size: 0; */
}

.main .article {
  display: inline-block;
  width: 100%;
  height: 200px;
  margin-top: 20px;
  background: grey;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .title-level2,
  .title-level3,
  .title-level4,
  .title-level5 {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .title-level1,
  .title-level3,
  .title-level4,
  .title-level5 {
    display: none;
  }

  .title-level2 {
    display: block;
  }

  .main .article {
    width: 49%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .title-level1,
  .title-level2,
  .title-level4,
  .title-level5 {
    display: none;
  }

  .title-level3 {
    display: block;
  }

  .main .article {
    width: 32.7%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .title-level4 {
    display: block;
  }
  .title-level1,
  .title-level2,
  .title-level3,
  .title-level5 {
    display: none;
  }

  .main .article {
    width: 24.5%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .title-level1,
  .title-level2,
  .title-level3,
  .title-level4 {
    display: none;
  }

  .title-level5 {
    display: block;
  }

  .main .article {
    width: 24.7%;
  }
}

@media only screen and (orientation: landscape) {
  .mode-portrait {
    display: none;
  }

  .mode-landscape {
    display: block;
  }
}

@media only screen and (orientation: portrait) {
  .mode-portrait {
    display: block;
  }

  .mode-landscape {
    display: none;
  }
}
