/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    /* added personally */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  /* added personally from below */
  a {
    text-decoration: none;
    color: black;
  }

  button {
    padding: 0;
    border: none;
    background: transparent;
  }

  label,
  input[type='radio'],
  button {
    cursor: pointer;
  }

  input[type='text'] {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    background: transparent;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  select {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
  }

  /* for customizing the 'browsing-file' functionality */
  input[type='file'] {
    position: absolute;
    top: -200%;
    left: -200%;
    opacity: 0;
    z-index: -100;
  }

  strong,
  .bolder {
    font-weight: bolder;
  }
}

/* 
#####  ###### #####   ####   ####  #    #   ##   #         #####  ######  ####  ###### #####  ####   ####   ####  
#    # #      #    # #      #    # ##   #  #  #  #         #    # #      #      #        #   #    # #      #      
#    # #####  #    #  ####  #    # # #  # #    # #         #    # #####   ####  #####    #   #       ####   ####  
#####  #      #####       # #    # #  # # ###### #         #####  #           # #        #   #           #      # 
#      #      #   #  #    # #    # #   ## #    # #         #   #  #      #    # #        #   #    # #    # #    # 
#      ###### #    #  ####   ####  #    # #    # ######    #    # ######  ####  ######   #    ####   ####   ####  
*/
.whitespace-remover {
  font-size: 0;
}

table td {
  vertical-align: top;
}

/* 
#####   ####  #####  #   # 
#    # #    # #    #  # #  
#####  #    # #    #   #   
#    # #    # #    #   #   
#    # #    # #    #   #   
#####   ####  #####    #   
*/

body {
  font-family: 'dotum', sans-serif;
}

/* 
######  #     # ####### ####### ####### #     # 
#     # #     #    #       #    #     # ##    # 
#     # #     #    #       #    #     # # #   # 
######  #     #    #       #    #     # #  #  # 
#     # #     #    #       #    #     # #   # # 
#     # #     #    #       #    #     # #    ## 
######   #####     #       #    ####### #     # 
*/

.button01,
.button01 > .tail,
.button01 > .tail > .body {
  display: inline-block;
  height: 18px;
  vertical-align: top;
}

.button01 {
  padding-left: 1px;
  background: url('./images/button01_head.png') left no-repeat;
}

.button01 > .tail {
  padding-right: 1px;
  background: url('./images/button01_tail.png') right no-repeat;
}

.button01 > .tail > .body {
  background: url('./images/button01_body.png') center repeat-x;
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 7px;
  color: white;
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  box-sizing: border-box;
}

.button03 {
  padding-left: 1px;
  background: url('./images/button03_headtail.png') left no-repeat;
}

.button03 > .tail {
  padding-right: 1px;
  background: url('./images/button03_headtail.png') right no-repeat;
}

.button03 > .tail > .body {
  background: url('./images/button03_body.png') center repeat-x;
  padding-top: 2px;
  padding-left: 6px;
  padding-right: 4px;
  color: #777777;
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  box-sizing: border-box;
}

.button03,
.button03 > .tail,
.button03 > .tail > .body {
  display: inline-block;
  height: 16px;
  vertical-align: top;
}

.button04,
.button04 > .tail,
.button04 > .tail > .body {
  display: inline-block;
  height: 23px;
  vertical-align: top;
}

.button04 {
  padding-left: 1px;
  background: url('./images/button04_headtail.png') left no-repeat;
}

.button04 > .tail {
  padding-right: 1px;
  background: url('./images/button04_headtail.png') right no-repeat;
}

.button04 > .tail > .body {
  background: url('./images/button04_body.png') center repeat-x;
  padding-top: 6px;
  padding-left: 9px;
  padding-right: 8px;
  color: #818181;
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  box-sizing: border-box;
}

.button05,
.button05 > .tail,
.button05 > .tail > .body {
  display: inline-block;
  height: 21px;
  vertical-align: top;
}

.button05 {
  padding-left: 4px;
  background: url('./images/button05_head.png') left no-repeat;
}

.button05 > .tail {
  padding-right: 3px;
  background: url('./images/button05_tail.png') right no-repeat;
}

.button05 > .tail > .body {
  padding-top: 3px;
  padding-left: 8px;
  padding-right: 9px;
  background: url('./images/button05_body.png') center repeat-x;
  box-sizing: border-box;
}

.button06,
.button06 > .tail,
.button06 > .tail > .body {
  display: inline-block;
  height: 21px;
  vertical-align: top;
}

.button06 {
  padding-left: 4px;
  background: url('./images/button06_head.png') left no-repeat;
}

.button06 > .tail {
  padding-right: 3px;
  background: url('./images/button06_tail.png') right no-repeat;
}

.button06 > .tail > .body {
  padding-top: 3px;
  padding-left: 21px;
  padding-right: 23px;
  background: url('./images/button06_body.png') center repeat-x;
  box-sizing: border-box;
}

.button07,
.button07 > .tail,
.button07 > .tail > .body {
  display: inline-block;
  height: 21px;
  vertical-align: top;
}

.button07 {
  padding-left: 4px;
  background: url('./images/button07_head.png') left no-repeat;
}

.button07 > .tail {
  padding-right: 3px;
  background: url('./images/button07_tail.png') right no-repeat;
}

.button07 > .tail > .body {
  padding-top: 3px;
  padding-left: 7px;
  padding-right: 8px;
  background: url('./images/button07_body.png') center repeat-x;
  box-sizing: border-box;
}

.button08 {
  padding-left: 4px;
  background: url('./images/button08_head.png') left no-repeat;
}

.button08 > .tail {
  padding-right: 3px;
  background: url('./images/button08_tail.png') right no-repeat;
}

.button08 > .tail > .body {
  padding-top: 3px;
  padding-left: 5px;
  padding-right: 7px;
  background: url('./images/button08_body.png') center repeat-x;
  box-sizing: border-box;
}

.button08,
.button08 > .tail,
.button08 > .tail > .body {
  display: inline-block;
  height: 22px;
  vertical-align: top;
}

.button09 {
  padding-left: 4px;
  background: url('./images/button09_head.png') left no-repeat;
}

.button09 > .tail {
  padding-right: 3px;
  background: url('./images/button09_tail.png') right no-repeat;
}

.button09 > .tail > .body::before {
  content: '';
  position: absolute;
  left: 1px;
  top: 8px;
  width: 2px;
  height: 3px;
  background: url('./images/button09_icon.png');
}

.button09 > .tail > .body {
  position: relative;
  padding-top: 1px;
  padding-left: 9px;
  padding-right: 7px;
  background: url('./images/button09_body.png') center repeat-x;
  box-sizing: border-box;
}

.button09,
.button09 > .tail,
.button09 > .tail > .body {
  display: inline-block;
  height: 20px;
  vertical-align: top;
}

.button10 {
  padding-left: 4px;
  background: url('./images/button10_head.png') left no-repeat;
}

.button10 > .tail {
  padding-right: 5px;
  background: url('./images/button10_tail.png') right no-repeat;
}

.button10 > .tail > .body {
  padding-top: 16px;
  padding-left: 30px;
  padding-right: 31px;
  background: url('./images/button10_body.png') center repeat-x;
  box-sizing: border-box;
}

.button10,
.button10 > .tail,
.button10 > .tail > .body {
  display: inline-block;
  height: 49px;
  vertical-align: top;
}

.button11 {
  padding-left: 4px;
  background: url('./images/button11_head.png') left no-repeat;
}

.button11 > .tail {
  padding-right: 5px;
  background: url('./images/button11_tail.png') right no-repeat;
}

.button11 > .tail > .body {
  padding-top: 15px;
  padding-left: 29px;
  padding-right: 31px;
  background: url('./images/button11_body.png') center repeat-x;
  box-sizing: border-box;
}

.button11,
.button11 > .tail,
.button11 > .tail > .body {
  display: inline-block;
  height: 48px;
  vertical-align: top;
}

.table00 table {
  display: inline-block;
  border-top: 1px solid #99bddd;
  border-bottom: 1px solid #99bddd;
  font-family: 'dotum', sans-serif;
}

.table00 table th {
  background: #f9f9f9;
  color: #1770b5;
  font-size: 11px;
  font-weight: bolder;
  letter-spacing: -0.25px;
  vertical-align: middle;
}

.table00 table td {
  background: #ffffff;
  color: #777777;
  font-size: 12px;
  letter-spacing: -0.5px;
  text-align: center;
}

.table00 table th:not(:last-of-type),
.table00 table td:not(:last-of-type) {
  border-right: 1px solid #99bddd;
}

.table-container .title::before {
  content: '';
  position: absolute;
  width: 9px;
  height: 9px;
  background: url('./images/green-circular-icon.png');
}

.table-container .title {
  font-size: 12px;
  letter-spacing: -0.8px;
  color: #222222;
  font-weight: bolder;
}

.table01 table {
  border-top: 2px solid #a6a6a6;
  border-bottom: 1px solid #e9e9e9;
  font-family: 'dotum', sans-serif;
}

.table01 table th {
  color: #666666;

  font-size: 11px;
  letter-spacing: -0.5px;
}

.table01 table td:first-of-type {
  /* background: red; */
  color: #222222;
  font-size: 12px;
  font-weight: bolder;
  letter-spacing: -0.5px;
}

.table01 table td:nth-of-type(2) {
  color: #666666;
  font-size: 12px;
  letter-spacing: -0.5px;
}

.table01 table td:nth-of-type(2) strong {
  color: #222222;
  font-weight: bolder;
}

.table01 table td:nth-of-type(3),
.table01 table td:nth-of-type(5) {
  font-size: 12px;
  color: #777777;
  letter-spacing: -0.5px;
}

.table01 table td:nth-of-type(3) ins,
.table01 table td:nth-of-type(5) ins {
  color: #e54c29;
  font-size: 14px;
  font-weight: bolder;
  letter-spacing: -0.5px;
  text-decoration: none;
}

.table01 table td:nth-of-type(3) .percentage,
.table01 table td:nth-of-type(5) .percentage {
  color: #0172c9;
  font-size: 12px;
  letter-spacing: -0.5px;
}

.table01 table td:nth-of-type(3) .percentage::after,
.table01 table td:nth-of-type(5) .percentage::after {
  content: '';
  position: absolute;
  background: url('./images/markdown-icon.png');
  width: 6px;
  height: 10px;
}

.table01 table td:nth-of-type(3) .rewards::before,
.table01 table td:nth-of-type(5) .rewards::before {
  content: '';
  position: absolute;
  background: url('./images/rewards-icon.png');
  width: 17px;
  height: 16px;
}

.table01 table td:nth-of-type(3) .rewards,
.table01 table td:nth-of-type(5) .rewards {
  color: #349e00;
  font-size: 12px;
  font-weight: bolder;
}
