/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    /* added personally */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  /* added personally from below */
  a {
    text-decoration: none;
    color: black;
  }

  button {
    padding: 0;
    border: none;
    background: transparent;
  }

  label,
  input[type='radio'],
  button {
    cursor: pointer;
  }

  input[type='text'] {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    background: transparent;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  select {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
  }

  /* for customizing the 'browsing-file' functionality */
  input[type='file'] {
    position: absolute;
    top: -200%;
    left: -200%;
    opacity: 0;
    z-index: -100;
  }

  strong,
  .bolder {
    font-weight: bolder;
  }
}

/* 
#####  ###### #####   ####   ####  #    #   ##   #         #####  ######  ####  ###### #####  ####   ####   ####  
#    # #      #    # #      #    # ##   #  #  #  #         #    # #      #      #        #   #    # #      #      
#    # #####  #    #  ####  #    # # #  # #    # #         #    # #####   ####  #####    #   #       ####   ####  
#####  #      #####       # #    # #  # # ###### #         #####  #           # #        #   #           #      # 
#      #      #   #  #    # #    # #   ## #    # #         #   #  #      #    # #        #   #    # #    # #    # 
#      ###### #    #  ####   ####  #    # #    # ######    #    # ######  ####  ######   #    ####   ####   ####  
*/
.whitespace-remover {
  font-size: 0;
}

table td {
  vertical-align: top;
}

/* 
#####   ####  #####  #   # 
#    # #    # #    #  # #  
#####  #    # #    #   #   
#    # #    # #    #   #   
#    # #    # #    #   #   
#####   ####  #####    #   
*/

body {
  width: 1570px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper {
  padding-left: 310px;
  padding-right: 310px;
}

/* 
    #    # ######   ##   #####  ###### #####  
    #    # #       #  #  #    # #      #    # 
    ###### #####  #    # #    # #####  #    # 
### #    # #      ###### #    # #      #####  
### #    # #      #    # #    # #      #   #  
### #    # ###### #    # #####  ###### #    # 
*/

.header {
  position: relative;
}

.header h2 {
  position: absolute;
  left: -2px;
  top: 9px;
  cursor: pointer;
}

.header .progress {
  position: relative;
}

.header .progress::after {
  content: '';
  background: url('./images/progress_horizontal-line.png');
  position: absolute;
  left: -1px;
  bottom: -4px;
  width: 100%;
  height: 4px;
  z-index: 2;
}

.header .progress ul {
  font-size: 0;
  padding-right: 29px;
  text-align: right;
}

.header .progress li::before {
  content: '';
  background: url('./images/progress01_left.png');
  position: absolute;
  left: -29px;
  width: 29px;
  height: 41px;
  z-index: 1;
}

.header .progress li {
  display: inline-block;
  position: relative;
  margin-left: 29px;
  padding-left: 51px;
  padding-right: 10px;
  /* padding-top: 15px; */
  /* box-sizing: border-box; */
  height: 41px;
  background: url('./images/progress01_body.png');
}

.header .progress li::after {
  content: '';
  background: url('./images/progress01_right.png');
  position: absolute;
  right: -29px;
  width: 29px;
  height: 41px;
}

.header .progress li:first-of-type span::before {
  content: '';
  background: url('./images/progress_step1-number.png');
  position: absolute;
  left: -39px;
  top: 5px;
  width: 32px;
  height: 9px;
}

.header .progress li:nth-of-type(2) span::before {
  content: '';
  background: url('./images/progress_step2-number.png');
  position: absolute;
  left: -41px;
  top: 5px;
  width: 34px;
  height: 9px;
}

.header .progress li:nth-of-type(3) span::before {
  content: '';
  background: url('./images/progress_step3-number.png');
  position: absolute;
  left: -41px;
  top: 5px;
  width: 34px;
  height: 9px;
}

.header .progress li span {
  position: relative;
  padding-top: 15px;
  line-height: 58px;
  /* box-sizing: border-box; */
}

.header .progress li.current::before {
  content: '';
  background: url('./images/progress02_left.png');
  position: absolute;
  left: -29px;
  width: 29px;
  height: 41px;
  z-index: 1;
}

.header .progress li.current {
  display: inline-block;
  padding-right: 3px;
  background: url('./images/progress02_body.png');
  height: 41px;
}

.header .progress li.current::after {
  content: '';
  background: url('./images/progress02_right.png');
  position: absolute;
  right: -29px;
  width: 29px;
  height: 41px;
}
