/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    /* added personally */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }
  /* added personally from below */
  button {
    padding: 0;
    border: none;
  }

  label,
  input[type='radio'],
  button {
    cursor: pointer;
  }

  input[type='text'] {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    background: transparent;
  }

  input[type='text']:focus {
    outline: none;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  select {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
  }

  /* for customizing the 'browsing-file' functionality */
  input[type='file'] {
    position: absolute;
    top: -200%;
    left: -200%;
    opacity: 0;
    z-index: -100;
  }

  strong,
  .bolder {
    font-weight: bolder;
  }
}

/* .h1 ~ .h6 */
.heading {
  display: block;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.one {
  font-size: 2em;
  margin-top: 0.67em;
  margin-bottom: 0.67em;
}

.two {
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;

  padding-left: 20px;
}

.three {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;

  padding-left: 40px;
}

.four {
  font-size: 1em;
  margin-top: 1.33em;
  margin-bottom: 1.33em;

  padding-left: 60px;
}

.five {
  font-size: 0.83em;
  margin-top: 1.67em;
  margin-bottom: 1.67em;

  padding-left: 80px;
}

.six {
  font-size: 0.67em;
  margin-top: 2.33em;
  margin-bottom: 2.33em;

  padding-left: 100px;
}

body {
  padding-top: 100px;
  padding-bottom: 100px;
  font-family: 'dotum', sans-serif;
}

/* 
#    # #####    ##   #####  #####  ###### #####  
#    # #    #  #  #  #    # #    # #      #    # 
#    # #    # #    # #    # #    # #####  #    # 
# ## # #####  ###### #####  #####  #      #####  
##  ## #   #  #    # #      #      #      #   #  
#    # #    # #    # #      #      ###### #    # 
*/

.wrapper01 {
  border: 3px solid #c6c6c6;
}

/* 
    #    # ######   ##   #####  ###### #####  
    #    # #       #  #  #    # #      #    # 
    ###### #####  #    # #    # #####  #    # 
### #    # #      ###### #    # #      #####  
### #    # #      #    # #    # #      #   #  
### #    # ###### #    # #####  ###### #    # 
*/

/* 
##### # ##### #      ###### 
  #   #   #   #      #      
  #   #   #   #      #####  
  #   #   #   #      #      
  #   #   #   #      #      
  #   #   #   ###### ###### 
*/

.actual-title {
  font-size: 24px;
}

.header .title01::before {
  content: '';
  display: inline-block;
  margin-right: 5px;
  width: 5px;
  height: 16px;
  background: url('./images/h1_icon.png');
}

/* 
    #    #   ##   # #    # 
    ##  ##  #  #  # ##   # 
    # ## # #    # # # #  # 
### #    # ###### # #  # # 
### #    # #    # # #   ## 
### #    # #    # # #    # 
*/

.main01 {
  border-top: 1px solid #cdcccb;
}

.main01.v2 {
  border-bottom: 1px solid #cdcccb;
}

/* 
#####  #    # ##### #####  ####  #    # 
#    # #    #   #     #   #    # ##   # 
#####  #    #   #     #   #    # # #  # 
#    # #    #   #     #   #    # #  # # 
#    # #    #   #     #   #    # #   ## 
#####   ####    #     #    ####  #    # 
*/
.button-container {
  font-size: 0;
  text-align: center;
}

/* 공통 */

.button01,
.button02,
.button03 {
  display: inline-block;
  vertical-align: top;
}

.button01.body,
.button02.body,
.button03.body {
  box-sizing: border-box;
}

/* 1. .button01 */
.button01 {
  height: 25px;
}

.button01.head {
  padding-left: 2px;
}

.button01.tail {
  padding-right: 1px;
}

.button01.head.orange {
  background: url('./images/button01_orange_head.png') left no-repeat;
}

.button01.tail.orange {
  background: url('./images/button01_orange_tail.png') right no-repeat;
}

.button01.body.orange {
  background: url('./images/button01_orange_body.png') center repeat-x;
}

.button01.head.white {
  background: url('./images/button01_white_head.png') left no-repeat;
}

.button01.tail.white {
  background: url('./images/button01_white_tail.png') right no-repeat;
}

.button01.body.white {
  background: url('./images/button01_white_body.png') center repeat-x;
}

/* 2. .button02 */

.button02 {
  height: 22px;
}

.button02.head {
  padding-left: 1px;
}

.button02.tail {
  padding-right: 1px;
}

.button02.head.white {
  background: url('./images/button02_white_head.png') left no-repeat;
}

.button02.tail.white {
  background: url('./images/button02_white_tail.png') right no-repeat;
}

.button02.body.white {
  background: url('./images/button02_white_body.png') center repeat-x;
  color: #646464;
  font-size: 11px;
}

.button03 {
  height: 19px;
}
.button03.head {
  padding-left: 2px;
}

.button03.tail {
  padding-right: 2px;
}

.button03.head.white {
  background: url('./images/button03_head.png') left no-repeat;
}

.button03.tail.white {
  background: url('./images/button03_tail.png') right no-repeat;
}

.button03.body.white {
  background: url('./images/button03_body.png') center repeat-x;
}

/* 
# #    # #####  #    # ##### 
# ##   # #    # #    #   #   
# # #  # #    # #    #   #   
# #  # # #####  #    #   #   
# #   ## #      #    #   #   
# #    # #       ####    #   
*/

.input00 {
  height: 20px;
  border: 1px solid #d8d8d8;
}

.input01 {
  height: 21px;
  border: 1px solid #d8d8d8;
}
.input01.v1 {
}
.input01.v2 {
  position: relative;
}
.input02 {
  height: 20px;
  border: 1px solid #e5e5e5;
}
.input03 {
  height: 27px;
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
}
.input04 {
  height: 20px;
}
.input04.before {
  border: 1px solid #d5d5d5;
  background: #eaeaea;
}
.input04.after {
  border: 1px solid #eaeaea;
  background: #ffffff;
}
.input04 input {
  font-size: 11px;
  color: #646464;
}

/* 
##### ###### #    # #####   ##   #####  ######   ##   
  #   #       #  #    #    #  #  #    # #       #  #  
  #   #####    ##     #   #    # #    # #####  #    # 
  #   #        ##     #   ###### #####  #      ###### 
  #   #       #  #    #   #    # #   #  #      #    # 
  #   ###### #    #   #   #    # #    # ###### #    #
*/

.textarea01 {
  border: 1px solid #e5e5e5;
  background: #f8f8f8;
}

.textarea01 textarea {
  background: #f8f8f8;
}

.textarea02 {
  border: 1px solid #d8d8d8;
  background: white;
}

/* 
    #####  #   # ##### ######       # #    #       #      ###### #    #  ####  ##### #    # 
    #    #  # #    #   #            # ##   #       #      #      ##   # #    #   #   #    # 
    #####    #     #   #####  ##### # # #  # ##### #      #####  # #  # #        #   ###### 
### #    #   #     #   #            # #  # #       #      #      #  # # #  ###   #   #    # 
### #    #   #     #   #            # #   ##       #      #      #   ## #    #   #   #    # 
### #####    #     #   ######       # #    #       ###### ###### #    #  ####    #   #    # 
*/
.byte-in-length01 {
  position: absolute;
  top: 0; /*!*/
  right: 0; /*!*/
  color: #646464;
  font-size: 12px;
}

/* 
 ####  ###### #      ######  ####  ##### 
#      #      #      #      #    #   #   
 ####  #####  #      #####  #        #   
     # #      #      #      #        #   
#    # #      #      #      #    #   #   
 ####  ###### ###### ######  ####    #   
*/

.select01 {
  height: 20px;
  border: 1px solid #e5e5e5;
}

.select02 {
  height: 20px;
  border: 1px solid #d8d8d8;
}

.select01 select,
.select02 select {
  font-size: 12px;
  color: #646464;
}

/* 
#####   ##   #####  #      ###### 
  #    #  #  #    # #      #      
  #   #    # #####  #      #####  
  #   ###### #    # #      #      
  #   #    # #    # #      #      
  #   #    # #####  ###### ###### 
*/

.table01.head table {
  border-top: 1px solid #d8b19b;
  border-bottom: 1px solid #e6cec0;
}

.table01.head table th {
  color: #969696;
  font-size: 12px;
  letter-spacing: -0.35px;
  background: #f4e9e3;
}

.table01.head table th:first-of-type {
  position: relative;
}

.table01.head table th:first-of-type::after {
  content: '';
  position: absolute;
  top: 0px;
  right: 0px;
  width: 2px;
  height: 12px;
  background: url('./images/table01_vertical-bit.png');
}

.table01.body {
  overflow-y: scroll;
}

.table01.body table {
  border-bottom: 1px solid #ead6ca;
}

.table01.body table td {
  color: #646464;
  font-size: 12px;
  border-bottom: 1px solid #ead6ca;
}

.table01.body tr:nth-of-type(2n) td {
  background: #fcf9f8;
}

.table01.body tr td:first-of-type {
  text-align: center;
}

.table02 table {
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #e1e1e1;
}

.table02 table th {
  color: #969696;
  font-size: 12px;
  background: #f5f5f5;
}

.table02 table td {
  color: #646464;
  font-size: 12px;
}

.table02 table tr:not(:first-of-type) td {
  border-top: 1px solid #f0f0f0;
}

.table03 table {
  border-top: 1px solid #dedfde;
  border-bottom: 1px solid #dedfde;
}

.table03 table th,
.table03 table td {
  text-align: left;
}

.table03 table th {
  color: #7e7e7e;
  font-size: 12px;
  background: #f6f6f6;
}

.table03 table tr:not(:first-of-type) th,
.table03 table tr:not(:first-of-type) td {
  border-top: 1px solid #f0f0f0;
}

/* 
 ####   ####  #    # ##### ###### #    # ##### 
#    # #    # ##   #   #   #      ##   #   #   
#      #    # # #  #   #   #####  # #  #   #   
#      #    # #  # #   #   #      #  # #   #   
#    # #    # #   ##   #   #      #   ##   #   
 ####   ####  #    #   #   ###### #    #   #   
*/

.content01 {
  font-size: 12px;
}

.content01.title {
  color: #969696;
}
.content01.content,
.content01.subcontent {
  color: #646464;
}
.content01.subcontent::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: url('./images/content01_subcontent_icon.png');
}

.content02::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  background: url('./images/content_dot.png');
}

.content02 {
  font-size: 12px;
}

.content02.v1 {
  color: #646464;
}

.content02.v2 {
  color: #686868;
}

.content03.title {
  color: #969696;
  font-size: 12px;
}

.content03.content::before {
  content: '';
  display: inline-block;
  width: 2px;
  height: 2px;
  background: url('./images/content_dot.png');
}

.content03.content,
.content03.subcontent {
  color: #646464;
  font-size: 11px;
}
.content03.subcontent::before {
  content: '';
  display: inline-block;
  width: 5px;
  height: 1px;
  background: url('./images/content03_subcontent_icon.png');
}
