/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: separate;
    border-spacing: 0;
  }
}

/* 
#####  ###### #####   ####   ####  #    #   ##   #         #####  ######  ####  ###### #####  ####   ####   ####  
#    # #      #    # #      #    # ##   #  #  #  #         #    # #      #      #        #   #    # #      #      
#    # #####  #    #  ####  #    # # #  # #    # #         #    # #####   ####  #####    #   #       ####   ####  
#####  #      #####       # #    # #  # # ###### #         #####  #           # #        #   #           #      # 
#      #      #   #  #    # #    # #   ## #    # #         #   #  #      #    # #        #   #    # #    # #    # 
#      ###### #    #  ####   ####  #    # #    # ######    #    # ######  ####  ######   #    ####   ####   ####  
*/

table {
  width: 100%;
}

button {
  padding: 0;
  border: none;
}

label,
input[type='radio'],
button {
  cursor: pointer;
}

input {
  padding: 0;
  border: 0 none;
  background: transparent;
  /* width: 100%; */
}

input[type='file'] {
  position: absolute;
  top: -200%;
  left: -200%;
  opacity: 0;
  z-index: -100;
}

.bolder {
  font-weight: bolder;
}

/* 
 ####  ###### #    # ###### #####    ##   #      
#    # #      ##   # #      #    #  #  #  #      
#      #####  # #  # #####  #    # #    # #      
#  ### #      #  # # #      #####  ###### #      
#    # #      #   ## #      #   #  #    # #      
 ####  ###### #    # ###### #    # #    # ###### 
*/

body {
  /* width: 1000px; */
  padding-top: 100px;
  /* padding-bottom: 100px; */
  /* margin: 0 auto; */
  font-family: 'dotum', sans-serif;
}

.wrapper {
  width: 960px;
  margin: 0 auto;
}

button {
  padding: 0;
  border: none;
}

a {
  text-decoration: none;
  color: black;
}

input[type='text'] {
  border: 0 none;
  background: transparent;
  width: 100%;
  color: #646464;
}

.input-wrapper.d8d8d8 {
  display: block;
  padding-right: 77px;
  border: 1px solid #d8d8d8;
}

.input-wrapper.answering-number {
  position: absolute;
  top: 7px;
}

table {
  width: 100%;
}

p.warning-sign {
  position: relative;
  padding-left: 13px;
  color: #a9a9a9;
}

.warning-sign::before {
  content: '※';
  position: absolute;
  left: 0;
}

label[for='excel-file-upload'] {
  cursor: pointer;
}

button {
  cursor: pointer;
}

input[type='file'] {
  position: absolute;
  top: -200%;
  left: -200%;
  opacity: 0;
  z-index: -100;
}

/* 
    #    # ######   ##   #####  ###### #####  
    #    # #       #  #  #    # #      #    # 
    ###### #####  #    # #    # #####  #    # 
### #    # #      ###### #    # #      #####  
### #    # #      #    # #    # #      #   #  
### #    # ###### #    # #####  ###### #    # 
*/
h1::before {
  content: '';
  position: absolute;
  top: -9px;
  left: 0;
  /* display: inline-block; */
  margin-right: 14px;
  width: 55px;
  height: 52px;
  background: url('./images/h1_icon.png') no-repeat;
}

h1 {
  position: relative;
  padding-left: 69px;
}

/* 
    #####  #####   ####   ####  #####  ######  ####   ####  
    #    # #    # #    # #    # #    # #      #      #      
    #    # #    # #    # #      #    # #####   ####   ####  
### #####  #####  #    # #  ### #####  #           #      # 
### #      #   #  #    # #    # #   #  #      #    # #    # 
### #      #    #  ####   ####  #    # ######  ####   ####  
*/
.progress::before {
  position: absolute;
  top: 0;
}

.progress::after {
  position: absolute;
  bottom: 0;
}

.progress::before,
.progress::after {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: url('./images/header_line.png') repeat-x;
}

.progress {
  position: relative;
  padding-top: 36px;
  padding-bottom: 34px;
  padding-right: 16px;
  margin-top: 18px;
  font-size: 0;
  vertical-align: middle;
  text-align: center;
}

.progress li {
  display: inline-block;
  position: relative;
  vertical-align: middle;
}

.progress li:not(:first-of-type) {
  margin-left: 42px;
}

.progress li:not(:last-of-type)::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -31px;
  margin-top: -10px;
  width: 16px;
  height: 18px;
  background: url('./images/progress_arrow.png') no-repeat;
  vertical-align: middle;
}

.progress li:first-of-type {
  padding-left: 10px;
}

/* 
    #####   ####  #####  #   # 
    #    # #    # #    #  # #  
    #####  #    # #    #   #   
### #    # #    # #    #   #   
### #    # #    # #    #   #   
### #####   ####  #####    #   
*/
.body {
  margin-top: 21px;
}

/* 
    #####   ##   #####  #      ###### 
      #    #  #  #    # #      #      
      #   #    # #####  #      #####  
###   #   ###### #    # #      #      
###   #   #    # #    # #      #      
###   #   #    # #####  ###### ###### 
*/

table.outer {
  margin-top: 9px;
  border-top: 1px solid #dcdcdc;
  border-bottom: 1px solid #dcdcdc;
}

table.outer thead th,
table.outer tfoot th,
table.outer tfoot td {
  color: #464646;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'dotum', sans-serif;
  background: #ebebeb;
}

.leftmost-th,
.inner-th {
  color: #7e7e7e;
  background: #f5f5f5;
}

.leftmost-th {
  padding-left: 44px;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}

.inner-th {
  padding-left: 33px;
  font-size: 12px;
  text-align: left;
  vertical-align: middle;
}

tbody tr:nth-of-type(8) .content-cell {
  padding-top: 12px;
}

table.inner {
  margin-top: 3px;
  color: #898989;
  border-top: 1px solid #d8619b;
  border-bottom: 1px solid #d8619b;
}

table.inner thead th {
  position: relative;
}

table.inner thead th:first-of-type::after {
  content: '';
  position: absolute;
  right: 0;
  width: 2px;
  height: 12px;
  background: url('./images/th_small-bit.png');
}

table.inner thead th,
table.inner tbody td {
  vertical-align: middle;
}

table.inner tbody tr:nth-of-type(2n) td {
  background: #fcf9f8;
}

table.inner thead th {
  color: #898989;
  font-weight: normal;
  background: #f4e9e3;
}

table.outer thead th,
table.outer tfoot th,
table.outer tfoot td,
table.outer tbody tr:first-of-type,
table.outer tbody tr:nth-of-type(2),
table.outer tbody tr:nth-of-type(6),
table.outer tbody tr:nth-of-type(7),
table.outer tbody tr:nth-of-type(9),
table.outer tbody tr:nth-of-type(10) {
  /* height: 32px; */
  padding-top: 11px;
  padding-bottom: 11px;
}

table.outer tbody tr:nth-of-type(3) {
  height: 46px;
}
table.outer tbody tr:nth-of-type(4) {
  height: 32px;
}
table.outer tbody tr:nth-of-type(5) {
  height: 113px;
}
table.outer tbody tr:nth-of-type(8) {
  height: 287px;
}

table.inner thead tr th:first-of-type {
  text-align: center;
}
table.inner thead th {
  text-align: center;
}
table.inner tbody td {
  text-align: center;
}

.content-cell {
  position: relative;
  padding-left: 13px;
  color: #646464;
  font-size: 12px;
  vertical-align: middle;
  text-align: left;
}

.input-container {
  position: relative;
}

.input-length {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #646464;
  font-weight: 12px;
}

.input-wrapper.answering-number {
  position: absolute;
}

.input-container.answering-input {
  position: absolute;
}

input#answering-number-input {
  width: 163px;
  font-size: 12px;
  vertical-align: middle;
}

button.answering-number {
  vertical-align: middle;
}

/* 
    #####  #    # ##### #####  ####  #    # 
    #    # #    #   #     #   #    # ##   # 
    #####  #    #   #     #   #    # # #  # 
### #    # #    #   #     #   #    # #  # # 
### #    # #    #   #     #   #    # #   ## 
### #####   ####    #     #    ####  #    # 
*/

.button-container {
  font-size: 0;
}

.button-container.bottom {
  text-align: center;
}

.button-container.bottom button + button {
  margin-left: 5px;
  margin-top: 37px;
}

.button-container.help-button {
  text-align: right;
}

.button-container.purchase-info {
  padding-right: 5px;
  text-align: right;
}
.button-container.coupon-image-table {
  text-align: right;
}

.button-container.coupon-image-table button + button {
  position: absolute;
  right: 0;
  bottom: -27px;
}

.button-container.answering-number {
  padding-left: 173px;
}

.small-orange-button_head {
  padding-left: 1px;
  height: 22px;
  background: url('./images/small-orange-button_head.png') left no-repeat;
}

.small-orange-button_tail {
  display: inline-block;
  padding-right: 1px;
  height: 22px;
  background: url('./images/small-orange-button_tail.png') right no-repeat;
  vertical-align: top;
}

.small-orange-button_body {
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
  height: 22px;
  line-height: 22px;
  color: white;
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  background: url('./images/small-orange-button_body.png') center repeat-x;
  box-sizing: border-box;
  vertical-align: top;
}

.re-enter {
  position: relative;
  padding-right: 24px;
}

.re-enter::after {
  content: '';
  position: absolute;
  top: 5px;
  right: 5px;
  width: 14px;
  height: 12px;
  background: url(./images/small-orange-button_icon.png);
}

label[for='excel-file-upload'] .small-white-button_body::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 15px;
  width: 14px;
  height: 14px;
  background: url(./images/excel-icon.png);
}

label[for='excel-file-upload'] .small-white-button_body {
  position: relative;
  padding-left: 34px;
  color: #ff5f28;
}

.small-white-button_head {
  display: inline-block;
  padding-left: 1px;
  height: 22px;
  background: url('./images/small-white-button_head.png') left no-repeat;
  vertical-align: top;
}

.small-white-button_tail {
  display: inline-block;
  padding-right: 1px;
  height: 22px;
  background: url('./images/small-white-button_tail.png') right no-repeat;
  vertical-align: top;
}

.small-white-button_body {
  display: inline-block;
  padding-left: 9px;
  padding-right: 9px;
  height: 22px;
  line-height: 22px;
  color: #646464;
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  background: url('./images/small-white-button_body.png') center repeat-x;
  box-sizing: border-box;
  vertical-align: top;
}

.small-white-button_body a {
  color: #646464;
}

.help-button_head {
  padding-left: 2px;
  height: 19px;
  background: url('./images/help-button_head.png') left no-repeat;
}
.help-button_tail {
  display: inline-block;
  padding-right: 2px;
  height: 19px;
  background: url('./images/help-button_tail.png') right no-repeat;
  vertical-align: top;
}

.orange-button_head {
  padding-left: 2px;
  height: 25px;
  background: url('./images/orange-button_head.png') left no-repeat;
}
.orange-button_tail {
  display: inline-block;
  padding-right: 1px;
  height: 25px;
  background: url('./images/orange-button_tail.png') right no-repeat;
  vertical-align: top;
}
.orange-button_body {
  display: inline-block;
  position: relative;
  height: 25px;
  padding-top: 5px;
  padding-left: 16px;
  padding-right: 22px;
  box-sizing: border-box;
  background: url('./images/orange-button_body.png') center repeat-x;
  vertical-align: top;
}

.orange-button_body::after {
  content: '';
  position: absolute;
  top: 8px;
  right: 12px;
  width: 4px;
  height: 7px;
  background: url('./images/orange-button_arrow.png');
}

.white-button_head {
  padding-left: 1px;
  height: 25px;
  background: url('./images/white-button_head.png') left no-repeat;
}
.white-button_tail {
  display: inline-block;
  padding-right: 1px;
  height: 25px;
  background: url('./images/white-button_tail.png') right no-repeat;
  vertical-align: top;
}
.white-button_body {
  display: inline-block;
  padding-top: 5px;
  padding-left: 17px;
  padding-right: 17px;
  height: 25px;
  box-sizing: border-box;
  background: url('./images/white-button_body.png') center repeat-x;
  vertical-align: top;
}

.help-button_body {
  display: inline-block;
  position: relative;
  padding-left: 30px;
  padding-right: 13px;
  height: 19px;
  line-height: 20px;
  background: url('./images/help-button_body.png') center repeat-x;
  vertical-align: top;
}

.help-button_body::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: 13px;
  width: 13px;
  height: 14px;
  background: url(./images/help-button_icon.png) no-repeat;
}

.arrow::before {
  content: '';
  display: inline-block;
  top: 5px;
  right: 5px;
  width: 6px;
  height: 7px;
  background: url(./images/arrow-icon.png);
}

.arrow {
  font-weight: bolder;
  color: #646464;
}

.thead-content,
.tfoot-content {
  position: absolute;
  top: 11px;
}

.coupon-image {
  display: inline-block;
  text-align: center;
}

.coupon-image img {
  display: block;
}

.coupon-image button {
  margin-top: 5px;
}

.coupon-image + .table-container {
  position: absolute;
  top: 12px;
  left: 278px;
}
