/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
}

/*  
http://www.network-science.de/ascii/
font: banner3
 ######   ######## ##    ## ######## ########     ###    ##       
##    ##  ##       ###   ## ##       ##     ##   ## ##   ##       
##        ##       ####  ## ##       ##     ##  ##   ##  ##       
##   #### ######   ## ## ## ######   ########  ##     ## ##       
##    ##  ##       ##  #### ##       ##   ##   ######### ##       
##    ##  ##       ##   ### ##       ##    ##  ##     ## ##       
 ######   ######## ##    ## ######## ##     ## ##     ## ######## 
*/

.background {
  padding: 50px;
  /* background: red; */
  background: #dadada;
}

.nav_head {
  display: inline-block;
  /* width: 18.3%; */

  /* min-height: 703px; */
  padding-left: 1px;
  border: 1px solid #f8f8f7;
  outline: 1px solid red; /*#d7d7cc*/
  background: url('./images/nav_headtail.png') left no-repeat;
  vertical-align: top;
}

.nav_tail {
  display: inline-block;
  /* width: 1px; */
  padding-right: 1px;
  background: url('./images/nav_headtail.png') right no-repeat;
  vertical-align: top;
}

.nav_body {
  display: inline-block;
  background: url('./images/nav_body.png') center repeat-x;
  vertical-align: top;
}

.main-page_wrapper {
  display: inline-block;
  width: 79.3%;
  min-height: 703px;
}

.main-page_background_header_head {
  margin-left: 14px;
  padding: 0 0 0 1px;
  /* width: 80%; */
  min-height: 36px;

  background: url('./images/main-page_background_header_head.png') no-repeat;
  vertical-align: top;
}

.main-page_background_header_bodytail {
  display: block;
  position: relative;
  /* min-width: 200px; */

  min-height: 36px;
  color: white;
  font-size: 16px;
  background: url('./images/main-page_background_header_bodytail.png') repeat-x;
  letter-spacing: -1.6px;
  vertical-align: top;
}

.main-page_background_header_bodytail > span {
  position: absolute;
  top: 50%;
  margin-top: -9px;
  padding-left: 29px;
}

.main-page_background {
  display: inline-block;
  position: relative;
  padding: 14px 8px 17px 8px;
  /* width: 80%; */
  /* min-height: 665px; */
  border: 1px solid black; /*fafafa*/
  outline: 1px solid red; /*d7d7cb*/
  background: #ededed;
  position: relative;
}

.main-page_tab_head::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  right: 0;
  bottom: 0;
  left: 3px;
  min-width: 176px;
  height: 41px;
  background: url('./images/main-page_tab_grey-shadow.png') no-repeat;
  vertical-align: top;
}

.main-page_tab_head {
  display: inline-block;
  position: relative;
  padding-left: 4px;
  min-height: 31px;
  background: url('./images/main-page_tab_head.png') left no-repeat;
  vertical-align: top;
}
.main-page_tab_tail {
  display: inline-block;
  padding-right: 33px;
  min-height: 31px;
  background: url('./images/main-page_tab_tail.png') right no-repeat;
  vertical-align: top;
}

.main-page_tab_body::before {
  content: '';
  display: inline-block;
  width: 6px;
  height: 6px;
  background: url('./images/main-page_tab_white-bit.png');
}

.main-page_tab_body {
  display: inline-block;
  /* position: relative; */
  min-width: 146px;
  min-height: 31px;
  background: url('./images/main-page_tab_body.png') center repeat-x;
  vertical-align: top;
}

.main-page_tab_body::after {
  content: '';
  display: block;
  position: absolute;
  top: 31px;
  right: 0;
  bottom: 0;
  left: 0.9px;
  min-width: 181.1px;
  height: 1px;
  background: url('./images/main-page_tab_white-horizontal-line.png') repeat-x;
}

.main-page {
  /* min-height: 599px; */
  padding: 58px 25px 0px 11px;
  border: 1px solid #cdcdcd;
  background: white;
}

table {
  border-collapse: collapse; /*없애도 딱히 문제 없는데?*/
  /* text-align: center; */
}

table,
th,
td {
  border: 1px solid #cccccc;
}

th,
td {
  text-align: center;
}

td {
  color: #414141;
  background: #f3f3f3;
}

/* tabbed table */

.tabbed-table_tab_head {
  display: inline-block;
  background: url('./images/tabbed-table_tab_head.png') left no-repeat;
  padding-left: 5px;
  min-height: 21px;

  vertical-align: top;
}

.tabbed-table_tab_tail {
  display: inline-block;
  background: url('./images/tabbed-table_tab_tail.png') right no-repeat;
  padding-right: 5px;
  min-height: 21px;
  vertical-align: top;
}

.tabbed-table_tab_body::before {
  content: '';
  display: inline-block;
  /* position: absolute; */
  background: url('./images/tabbed-table_yellow-bit.png') no-repeat;
  line-height: 21px;

  width: 3px;
  height: 11px;
}

.tabbed-table_tab_body {
  display: inline-block;
  position: relative;
  /* padding-left: 8px; */
  min-width: 126px;
  background: url('./images/tabbed-table_tab_body.png') center repeat-x;
  min-height: 21px;
  line-height: 21px;
  color: white;
  font-size: 12px;
  font-family: 'dotum';
  vertical-align: top;
}

table.tabbed-table {
  border-top: 2px solid #36699b;
}

table.tabbed-table th {
  color: #65839d;
  font-weight: bolder;
  background: #e7e9ed;
}

table.tabbed-table th.small {
  color: #414141;
  font-weight: normal;
  background: #e7e9ed;
}

/* untabbed table */
table.untabbed-table th {
  color: #fefefe;
  font-weight: bolder;
  background: #36699b;
}

.blue-highlight {
  color: #396c9e;
  font-weight: bolder;
}

/* <button> */
button {
  padding: 0;
  border: none;

  background: white;
  cursor: pointer;
}

.button-container {
  display: inline;
  font-size: 0;
}

.button-container_1005 {
  font-size: 0;
  text-align: center;
}

.blue-button_head {
  display: inline-block;
  position: relative;

  padding-left: 4px;
  min-height: 23px;
  background: url('./images/blue-button_head.png') left no-repeat;
  vertical-align: top;
}

/* <blue button> */
.blue-button_tail {
  display: inline-block;
  padding-right: 5px;
  min-height: 23px;
  background: url('./images/blue-button_tail.png') right no-repeat;
  vertical-align: top;
}

.blue-button_body {
  /* position: relative; */
  display: inline-block;
  padding: 0px 5px;
  line-height: 21px; /*?*/
  color: #ffffff;
  font-size: 12px;
  background: url('./images/blue-button_body.png') center repeat-x;
  min-height: 23px;
  vertical-align: top;
}

.blue-button_body::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 1px;
  left: 1px;
  width: 48px;
  height: 23px;
  background: url('./images/blue-button_white-shadow.png') no-repeat;
}

.blue-button_body::after {
  content: '';
  display: inline-block;
  margin-left: 2px;
  padding-bottom: 2px;
  width: 3px;
  height: 5px;
  /* line-height: 21px; */
  background: url('./images/blue-button_arrow.png') no-repeat;
}

/* white button */
.white-button_head {
  display: inline-block;
  padding-left: 2px;
  margin: 0px 1px;
  min-height: 16px;
  background: url('./images/white-button_head.png') left no-repeat;
  vertical-align: top;
}

.white-button_tail {
  display: inline-block;
  padding-right: 2px;
  min-height: 16px;
  background: url('./images/white-button_tail.png') right no-repeat;
  vertical-align: top;
}

.white-button_body {
  display: inline-block;
  padding: 0px 6px;
  min-height: 16px;
  line-height: 16px;
  color: #3e3e3e;
  font-size: 11px;
  font-family: 'dotum';
  background: url('./images/white-button_body.png') center repeat-x;

  vertical-align: top;
}

/* 
   ##     #####     #####      ##   
 ####    ##   ##   ##   ##   ####   
   ##   ##     ## ##     ##    ##   
   ##   ##     ## ##     ##    ##   
   ##   ##     ## ##     ##    ##   
   ##    ##   ##   ##   ##     ##   
 ######   #####     #####    ######
*/

/* 
   ##     #####     #####    #######  
 ####    ##   ##   ##   ##  ##     ## 
   ##   ##     ## ##     ##        ## 
   ##   ##     ## ##     ##  #######  
   ##   ##     ## ##     ## ##        
   ##    ##   ##   ##   ##  ##        
 ######   #####     #####   #########
*/

/* 
   ##     #####     #####    #######  
 ####    ##   ##   ##   ##  ##     ## 
   ##   ##     ## ##     ##        ## 
   ##   ##     ## ##     ##  #######  
   ##   ##     ## ##     ##        ## 
   ##    ##   ##   ##   ##  ##     ## 
 ######   #####     #####    #######  
*/

/* 
   ##     #####     #####   ##        
 ####    ##   ##   ##   ##  ##    ##  
   ##   ##     ## ##     ## ##    ##  
   ##   ##     ## ##     ## ##    ##  
   ##   ##     ## ##     ## ######### 
   ##    ##   ##   ##   ##        ##  
 ######   #####     #####         ## 
*/

/* 
   ##     #####     #####   ######## 
 ####    ##   ##   ##   ##  ##       
   ##   ##     ## ##     ## ##       
   ##   ##     ## ##     ## #######  
   ##   ##     ## ##     ##       ## 
   ##    ##   ##   ##   ##  ##    ## 
 ######   #####     #####    ######  
*/
