@import './reset.css';

@font-face {
  font-family: 'ydiy330';
  src: url('./font/ydiygo330/YDIYGO330.woff2') format('woff2'),
    url('./font/ydiygo330/YDIYGO330.woff') format('woff');
  font-family: 'FuturaBT';
  src: url('./font/FuturaBT/futuraMediumBT.woff') format('woff');
}

body {
  font-family: 'ydiy330', sans-serif;
  margin: 0 auto;
}

h1 {
  background-image: url('./images/orange-circle.png');
  background-repeat: no-repeat;
  background-position: 0px 3px;
  position: relative;
  /*16 + 11*/
  padding-left: 27px;
  /* top: 6px; */

  font-size: 20px;
  line-height: 22px;
  letter-spacing: -0.4px;

  border-bottom: 1px solid #efefef;
  width: 645px;
  padding-bottom: 4px;
}

.location span {
  font-size: 11px;
  padding-right: 10px;
}

.location span:not(:last-child)::after {
  content: '';
  background-image: url('./images/nav_arrow.png');
  background-repeat: no-repeat;
  background-position: 50% 50%;

  width: 5px;
  height: 9px;
  position: absolute;

  padding-left: 5px;
  padding-top: 0.25%;
}

.location_specific {
  color: #f7941e;
}

/* outerbox */
.outerbox {
  margin: 0 auto;
}

.outerbox_body {
  background-image: url('./images/outer_border_body.png');
  margin: 0 auto;
  width: 790px;
  background-position: center;
  /* padding: 59px; */
}

.outerbox_head {
  margin: 0 auto;
  width: 790px;
  height: 3px;
  background-image: url('./images/outer_border_head.png');
  background-repeat: no-repeat;
  background-position: center;
  /* position: absolute; */
  margin-top: 10px;
}

.outerbox_tail {
  margin: 0 auto;
  width: 790px;
  height: 3px;
  background-image: url('./images/outer_border_tail.png');
  background-repeat: no-repeat;
  background-position: center;
  position: absolute;
}

.innerbox_body {
  background-image: url('./images/채용안내/inner_box_body.png');
  width: 670px;
  margin-top: 30px;
}

.innerbox_tail {
  background-image: url('./images/채용안내/inner_box_headtail.png');
  background-repeat: no-repeat;
  width: 670px;
  height: 3px;
  margin-top: 33px;
}

.contents_main {
  margin: 0 auto;
  padding: 59px;
}

h1 + .paragraph_ethics {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1.1px;
  color: #9b9b9b;
}

h1 + .paragraph_HR {
  font-size: 18px;
  line-height: 22px;
  color: #d1d1d1;
  letter-spacing: -3.5px;
}

h1 + .paragraph_HR strong {
  font-size: 20px;
  line-height: 24px;
  color: #f7941e;
  font-weight: bold;
  letter-spacing: -2.5px;
}

h1 + .paragraph_registration {
  font-size: 14px;
  line-height: 17px;
  letter-spacing: -1.5px;
  font-weight: 500;
  color: #9b9b9b;
}

h1 + .paragraph_talent {
  font-size: 19px;
  letter-spacing: -2px;
  color: #464646;
  font-weight: 500;
}
