h1 + p {
  font-size: 14px;
  line-height: 16px;
  letter-spacing: -1.1px;
  color: #9b9b9b;
}

.location {
  padding-left: 425px;
}

.innerbox_head {
  background-image: url('./images/윤리규범/orange-horizontal-line.png');
  width: 670px;
  height: 3px;
  /* background-repeat: repeat-y; */
}

.innerbox_body {
  margin-top: 0;
}

.button-container {
  font-size: 0;
}

button {
  margin-top: 34px;
  width: 135px;
  height: 29px;
  border: none;
  color: white;
  font-size: 15px;
  background-color: #c1c1c1;
  cursor: pointer;
}

button:first-of-type {
}

button:nth-of-type(2) {
  margin-left: 1px;
}

.active {
  background-image: url('./images/윤리규범/white-bar.png');
  background-repeat: no-repeat;
  background-color: #ff9500;
  background-position: 0% 50%;
  /* width: 16px;
  height: 4px; */
}

.inner-wrapper {
  width: 625px;
  letter-spacing: -0.8px;
}

.inner-wrapper > a {
  text-decoration: none;
  font-size: 15px;
  line-height: 18.58px;
  letter-spacing: -0.8px;
  color: #9b9b9b;

  display: inline-block;
  width: 625px;
  height: 24px;
  background-image: url('./images/dotted-horizontal-line.png');
  background-repeat: repeat-x;
  /* background-position: center; */
  background-position: 0px 23px;
  position: relative;
  /* padding-top: 15px; */
  margin-top: 22px;
}
.inner-wrapper > a:first-of-type {
  margin-top: 0px;
}

.inner-wrapper > ol {
  margin-top: 17px;
  background-color: #f4f4f4;
  padding: 15px 0px 15px 20px;
  font-size: 0px;
}
.inner-wrapper > ol > li {
  display: inline-block;
  margin-right: 35px;
}

.inner-wrapper > ol:nth-of-type(2) > li:first-of-type {
  margin-right: 65px;
}
.inner-wrapper > ol:nth-of-type(2) > li:nth-of-type(2) {
  margin-right: 135px;
}
.inner-wrapper > ol:nth-of-type(2) > li:nth-of-type(4) {
  margin-right: 92px;
}
.inner-wrapper > ol:nth-of-type(2) > li:nth-of-type(5) {
  margin-right: 96px;
}
.inner-wrapper > ol:nth-of-type(2) > li:nth-of-type(6) {
  margin-right: 0px;
}
.inner-wrapper > ol:nth-of-type(2) > li {
  padding: 3.5px 0px;
}

.innerbox_body > :not(.innerbox_head) {
  /* padding: 21px 0px 0px 21px; */
}

li > .numbering {
  color: #ff8416;
  font-weight: bolder;
  font-size: 14px;
  letter-spacing: -1.6px;
  margin-right: 6px;
}

li > .item {
  font-size: 14px;
  letter-spacing: -1.8px;
  color: #9b9b9b;
}

ul {
  /* padding-left: 21px; */
  /* padding-top: 2 1px; */
  font-family: 'ydiywebdotum';
  font-size: 11px;
  line-height: 16px;
  color: #949494;
}

.main-list {
  color: #ff9501;
  font-weight: bolder;
  margin-top: 22px;
}
.inner-wrapper > ul > li,
.mid-list {
  font-weight: bolder;
}

.inner-wrapper > ul > li {
  margin-top: 22px;
}

.mid-list {
  margin-top: 22px;
}

.mid-list + ol, .main-list+ol>ul
/* , */
/* .main-list + ol  */ {
  margin-left: 9px;
}

.page-two {
  margin: 21px 0 0 21px;
  /* margin-left: 21px; */
}
