/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

/* 
 ####    ##   #      ###### #    # #####  ###### #####      #    # ##### #    # #      
#    #  #  #  #      #      ##   # #    # #      #    #     #    #   #   ##  ## #      
#      #    # #      #####  # #  # #    # #####  #    #     ######   #   # ## # #      
#      ###### #      #      #  # # #    # #      #####  ### #    #   #   #    # #      
#    # #    # #      #      #   ## #    # #      #   #  ### #    #   #   #    # #      
 ####  #    # ###### ###### #    # #####  ###### #    # ### #    #   #   #    # ###### 
*/

/* body */
body {
  padding: 100px 0;
}

/* .wrapper */
.calendar .wrapper {
  margin: 0 auto;
  width: 824px;
}

/* .calendar-box */
.calendar-box_head {
  margin-top: 10px;
  background: url('./images/calendar/wrapper_head.png') top no-repeat;
  padding-top: 5px;
}
.calendar-box_tail {
  background: url('./images/calendar/wrapper_tail.png') bottom no-repeat;
  padding-bottom: 5px;
}
.calendar-box_body {
  padding: 16px 19px 18px 21px;
  background: url('./images/calendar/wrapper_body.png') center repeat-y;
}

/* DIRECTORY */
.calendar .directory {
  padding-right: 7px;
  font-size: 0;
  text-align: right;
}

.calendar .directory span {
  font-size: 12px;
  font-family: 'dotum', sans-serif;
  letter-spacing: -0.8px;
}

.calendar .directory span.not-current {
  color: #7a7c7e;
  font-weight: normal;
}

.calendar .directory span.not-current::after {
  content: '';
  display: inline-block;
  margin: 0 6px 0 6px;
  width: 5px;
  height: 9px;
  background: url('./images/calendar/directory-arrow.png') no-repeat;
}

.calendar .directory span.current {
  color: #5a5a5a;
  font-weight: bolder;
}

/* h1 */
.calendar h1 {
  font-size: 0;
}

.calendar h1 img {
  padding-left: 9px;
  vertical-align: middle;
}

.calendar h1::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 26px;
  background: url('./images/calendar/h1-icon.png');
  vertical-align: middle;
}

/* .calender-navigation */
button {
  padding: 0;
  border: 0 none;
  cursor: pointer;
}

select {
  vertical-align: middle;
}

.white-button_head {
  position: relative;
  height: 18px;
  padding-left: 3px;
  background: url('./images/calendar/white-button_head.png') left no-repeat;
  vertical-align: middle;
}

.white-button_tail {
  height: 18px;
  padding-right: 3px;
  background: url('./images/calendar/white-button_tail.png') right no-repeat;
  /* vertical-align: top; */
}

.white-button_body {
  height: 18px;
  background: url('./images/calendar/white-button_body.png') center repeat-x;
}

/* .calendar-navigation */

.calendar-navigation {
  font-size: 0;
  text-align: center;
}

.calendar-navigation select:first-of-type {
  margin-left: 10px;
}

.calendar-navigation select + select {
  margin-left: 3px;
}

.calendar-navigation button:nth-of-type(2) {
  margin-left: 9px;
}

.calendar-navigation button:first-of-type span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -2.5px;
  width: 3px;
  height: 5px;
  background: url('./images/calendar/white-button_arrow-left.png') no-repeat;
  vertical-align: middle;
}

.calendar-navigation button:first-of-type .white-button_body {
  padding-left: 9px;
  padding-right: 5px;
}

.calendar-navigation button:nth-of-type(2) .white-button_body {
  padding-left: 5px;
  padding-right: 9px;
}

.calendar-navigation button:nth-of-type(2) span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -2.5px;
  width: 3px;
  height: 5px;
  background: url('./images/calendar/white-button_arrow-right.png') no-repeat;
  vertical-align: middle;
}

.white-button_body span {
  font-size: 12px;
  font-family: 'gulim', sans-serif;
  color: #333333;
}

/* table */
table {
  width: 100%;
  box-sizing: border-box;
}

th,
td {
  border: 1px solid #dddddd;
}

th {
  padding-top: 8px;
  padding-bottom: 9px;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'gulim', sans-serif;
  letter-spacing: -0.8px;
}

th:first-of-type {
  color: #e44c2e;
}

th:last-of-type {
  color: #3176c4;
}

td {
  height: 85px;
  font-family: 'gulim', sans-serif;
  font-size: 11px;
  color: #5b5b5b;
  letter-spacing: -0.8px;
}
/*                                                                        
#       ####   ####  # #    #       #####    ##    ####  ######     #    # ##### #    # #      
#      #    # #    # # ##   #       #    #  #  #  #    # #          #    #   #   ##  ## #      
#      #    # #      # # #  # ##### #    # #    # #      #####      ######   #   # ## # #      
#      #    # #  ### # #  # #       #####  ###### #  ### #      ### #    #   #   #    # #      
#      #    # #    # # #   ##       #      #    # #    # #      ### #    #   #   #    # #      
######  ####   ####  # #    #       #      #    #  ####  ###### ### #    #   #   #    # ###### 
*/
/* 
#####   ##   #####  #      ######     #    # ##### #    # #      
  #    #  #  #    # #      #          #    #   #   ##  ## #      
  #   #    # #####  #      #####      ######   #   # ## # #      
  #   ###### #    # #      #      ### #    #   #   #    # #      
  #   #    # #    # #      #      ### #    #   #   #    # #      
  #   #    # #####  ###### ###### ### #    #   #   #    # ###### 
*/

.wrapper {
  margin: 0 auto;
  width: 964px;
}

.table .main-wrapper {
  padding: 7px 6px;
  outline: 1px solid #d7d7cb;
  border: 1px solid #fafafa;
  background: #ededed;
}

/* .directory */
.table .directory::before {
  content: '';
  display: inline-block;
  width: 11px;
  height: 11px;
  background: url('./images/table/directory-icon.png');
  vertical-align: middle;
}

.table .directory {
  padding-right: 12px;
  font-size: 0;
  text-align: right;
}

.table .directory span {
  font-size: 12px;
  font-family: 'dotum', sans-serif;
  letter-spacing: -0.4px;
  vertical-align: middle;
}

.table .directory span.not-current:first-of-type {
  padding-left: 7px;
}

.table .directory span.not-current {
  color: #7d7d7d;
}

.table .directory span.not-current::after {
  content: '';
  display: inline-block;
  margin: 0 6px 0 5px;
  width: 5px;
  height: 9px;
  background: url('./images/table/directory-arrow.png');
}

.table .directory span.current {
  color: #424242;
  font-weight: bolder;
}

/* .main-content */
.main-content {
  margin-top: 6px;
  background: white;
}

/* .table-container */
.blue-button_head {
  height: 21px;
  padding-left: 2px;
  background: url('./images/table/blue-button_head.png') left no-repeat;
}

.blue-button_tail {
  height: 21px;
  padding-right: 2px;
  background: url('./images/table/blue-button_tail.png') right no-repeat;
}

.blue-button_body {
  height: 21px;
  background: url('./images/table/blue-button_body.png') center repeat-x;
  color: white;
}

/* .footer */
.table .footer {
  position: relative;
  padding-top: 23px;
  padding-bottom: 22px;
  border: 1px solid #cdcdcd;
  outline: 1px solid #cdcdcd;
  background: #cdcdcd;
}

.table .footer .left {
  /* display: inline-block; */
  padding-left: 28px;
  font-family: 'gulim', sans-serif;
  color: #444444;
  font-size: 11px;
  text-align: left;
}

.table .footer .left span {
  vertical-align: middle;
}

.table .footer .right {
  /* display: inline-block; */
  position: absolute;
  top: 50%;
  right: 19px;
  margin-top: -4px;
  /* padding-right: 19px; */
  color: white;
  font-size: 8px;
  text-align: right;
}

.table .footer .right span {
  vertical-align: middle;
}

.table .footer .right::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url('./images/table/footer-icon.png');
  vertical-align: middle;
}
