/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

/* 
 ####  ###### #    # ###### #####    ##   #      
#    # #      ##   # #      #    #  #  #  #      
#      #####  # #  # #####  #    # #    # #      
#  ### #      #  # # #      #####  ###### #      
#    # #      #   ## #      #   #  #    # #      
 ####  ###### #    # ###### #    # #    # ###### 
*/

@font-face {
  font-family: 'MalgunGothic';
  src: url('./fonts/malgungothic/MalgunGothicRegular.woff') format('woff'),
    url('./fonts/malgungothic/MalgunGothicRegular.woff2') format('woff2'),
    url('./fonts/malgungothic/malgun.ttf') format('ttf');
}

/* 
   #                                                                                              
  ##        ####    ##   #      ###### #    # #####  ###### #####      #    # ##### #    # #      
 # #       #    #  #  #  #      #      ##   # #    # #      #    #     #    #   #   ##  ## #      
   #       #      #    # #      #####  # #  # #    # #####  #    #     ######   #   # ## # #      
   #   ### #      ###### #      #      #  # # #    # #      #####  ### #    #   #   #    # #      
   #   ### #    # #    # #      #      #   ## #    # #      #   #  ### #    #   #   #    # #      
 ##### ###  ####  #    # ###### ###### #    # #####  ###### #    # ### #    #   #   #    # ###### 
*/

/* body */
body {
  padding: 100px 0;
}

/* .wrapper */
.calendar .wrapper {
  margin: 0 auto;
  width: 824px;
}

/* .calendar-box */
.calendar-box_head {
  margin-top: 9px;
  background: url('./images/calendar/wrapper_head.png') top no-repeat;
  padding-top: 5px;
}

.calendar-box_tail {
  background: url('./images/calendar/wrapper_tail.png') bottom no-repeat;
  padding-bottom: 5px;
}

.calendar-box_body {
  padding: 17px 20px 18px 22px;
  background: url('./images/calendar/wrapper_body.png') center repeat-y;
}

/* h1 */
.calendar h1 {
  font-size: 0;
}

.calendar h1 img {
  padding-top: 4px;
  padding-left: 9px;
  vertical-align: top;
}

.calendar h1::before {
  content: '';
  display: inline-block;
  width: 30px;
  height: 26px;
  background: url('./images/calendar/h1-icon.png');
  vertical-align: middle;
}

/* DIRECTORY */
.calendar .directory {
  position: relative;
  padding-right: 5px;
  font-size: 0;
  text-align: right;
}

.calendar .directory a,
.calendar .directory strong {
  position: relative;
  font-size: 12px;
  font-family: 'dotum', sans-serif;
  letter-spacing: -0.4px;
}

.calendar .directory a {
  display: inline-block;
  text-decoration: none;
  color: #7a7c7e;
  font-weight: normal;
}

.calendar .directory a:not(:first-of-type) {
  margin-left: 19px;
}
.calendar .directory strong {
  margin-left: 15px;
}

.calendar .not-current {
  display: inline-block;
  position: relative;
}

.calendar .not-current + .not-current {
  margin-left: 15px;
}

.calendar .not-current::after {
  content: '';
  position: absolute;
  top: 50%;
  right: -11px;
  margin-top: -5.5px;
  width: 5px;
  height: 9px;
  background: url('./images/calendar/directory-arrow.png') no-repeat;
}

.current {
  color: #5a5a5a;
  font-weight: bolder;
}

button {
  padding: 0;
  border: 0 none;
  cursor: pointer;
}

select {
  vertical-align: middle;
}

.white-button_head:first-of-type {
  left: 248px;
  top: 2px;
}

.white-button_head:nth-of-type(2) {
  right: 302px;
  top: 3px;
}

.white-button_head {
  position: relative;
  position: absolute;
  height: 18px;
  padding-left: 3px;
  background: url('./images/calendar/white-button_head.png') left no-repeat;
  vertical-align: middle;
}

.white-button_tail {
  display: inline-block;
  height: 18px;
  padding-right: 3px;
  background: url('./images/calendar/white-button_tail.png') right no-repeat;
}

.white-button_body {
  display: inline-block;
  height: 18px;
  background: url('./images/calendar/white-button_body.png') center repeat-x;
}

.white-button_body:first-of-type span {
  padding-left: 1px;
}

.white-button_body span {
  font-size: 11px;
  font-family: 'gulim', sans-serif;
  color: #333333;
  line-height: 20px;
  letter-spacing: -0.7px;
}

/* .calendar-navigation */
.calendar-navigation {
  position: relative;
  margin-top: 17px;
  padding-right: 62px;
  font-size: 0;
  text-align: center;
}

.calendar-navigation select:first-of-type {
  width: 65px;
  height: 21px;
  margin-left: 10px;
  padding-left: 2px;
  letter-spacing: -1.6px;
}

.calendar-navigation select + select {
  margin-left: 3px;
  width: 47px;
  height: 21px;
  letter-spacing: -2px;
}

.calendar-navigation button:nth-of-type(2) {
  margin-left: 9px;
}

.calendar-navigation button:first-of-type span::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 5px;
  margin-top: -3.5px;
  width: 3px;
  height: 5px;
  background: url('./images/calendar/white-button_arrow-left.png') no-repeat;
  vertical-align: middle;
}

.calendar-navigation button:first-of-type .white-button_body {
  padding-left: 7px;
  padding-right: 5px;
}

.calendar-navigation button:nth-of-type(2) .white-button_body {
  padding-right: 9px;
  padding-left: 2px;
}

.calendar-navigation button:nth-of-type(2) span::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 5px;
  margin-top: -3.5px;
  width: 3px;
  height: 5px;
  background: url('./images/calendar/white-button_arrow-right.png') no-repeat;
  vertical-align: middle;
}

.calendar .table-wrapper {
  margin-top: 13px;
}

/* table */
.calendar table {
  width: 100%;
  box-sizing: border-box;
}

.calendar th,
.calendar td {
  border: 1px solid #dddddd;
}

.calendar td {
  position: relative;
}

/* .calendar td:not(.closed):hover */
.calendar td:not(.closed):hover {
  outline: 1px solid #f09457;
  outline-offset: -2px;
  cursor: pointer;
}

.calendar th {
  position: relative;
  padding: 8px 0;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'gulim', sans-serif;
  background: url('./images/calendar/th-shadow.png') repeat-x;
  letter-spacing: -0.8px;
  vertical-align: middle;
}

.calendar th:first-of-type {
  color: #e44c2e;
}

.calendar th:last-of-type {
  color: #3176c4;
}

.calendar tbody tr {
  height: 86px;
  font-family: 'gulim', sans-serif;
  font-size: 11px;
  color: #5b5b5b;
  letter-spacing: -0.8px;
}

.calendar td {
  position: relative;
}

.calendar td ul {
  padding-top: 24px;
  padding-left: 7px;
  color: #f18061;
  font-size: 11px;
  font-family: 'dotum';

  height: 62px;
  overflow-y: auto;
}

.calendar td ul li {
  padding: 1px 0;
}

.calendar td span {
  position: absolute;
  top: 6px;
  left: 6px;
}

.calendar td.closed {
  background: #f7f7f7 padding-box;
}

.calendar td.today {
  background: #fcf3de padding-box;
}

/*                                                                        
 #####                                                                                                     
#     #     #       ####   ####  # #    #       #####    ##    ####  ######     #    # ##### #    # #      
      #     #      #    # #    # # ##   #       #    #  #  #  #    # #          #    #   #   ##  ## #      
 #####      #      #    # #      # # #  # ##### #    # #    # #      #####      ######   #   # ## # #      
#       ### #      #    # #  ### # #  # #       #####  ###### #  ### #      ### #    #   #   #    # #      
#       ### #      #    # #    # # #   ##       #      #    # #    # #      ### #    #   #   #    # #      
####### ### ######  ####   ####  # #    #       #      #    #  ####  ###### ### #    #   #   #    # ######  
*/

.login-page .wrapper {
  display: relative;
  min-height: 565px;
}

.login-page .header {
  display: block;
  position: absolute;
  left: 382px;
}

.login-page h1 {
  display: inline-block;
}

.login-page h1 a {
  display: inline-block;
}

.login-page h1 a::before {
  content: '';
  position: absolute;
  left: -65px;
  width: 65px;
  height: 52px;
  background: url('./images/login-page/h1-icon.png') no-repeat;
}

.login-page h1 img {
  padding-top: 18px;
  padding-left: 3px;
  vertical-align: top;
}

.login-page .wrapper {
  position: relative;
}

/* .body */
.login-page .wrapper {
  position: relative;
  margin: 0 auto;
  width: 1121px;
}

.login-page .body {
  position: absolute;
  top: 67px;
}

.blue-container_head {
  position: relative;
  min-width: 296px;
  max-width: 100%;
  height: 207px;
  background: url('./images/login-page/blue-container_headbody.png') left
    repeat-x;
  z-index: 1;
}

.blue-container_tail {
  position: absolute;
  background: url('./images/login-page/blue-container_bodytail.png') right
    no-repeat;
  height: 325px;
  width: 828px;
  padding-left: 296px;
}

.blue-container_headbody::before {
  content: '';
  display: inline-block;
  position: absolute;
  width: 470px;
  height: 197px;
  background: url('./images/login-page/line.png');
  z-index: -1;
}

.blue-container_head .intro::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 31px;
  left: 21px;
  width: 107px;
  height: 34px;
  background: url('./images/login-page/login-font.png') no-repeat;
}

.blue-container_head .intro-wrapper {
  position: relative;
}

.blue-container_head .intro {
  display: inline-block;
  position: relative;
  padding-top: 32px;
  padding-left: 172px;
  z-index: 2;
}

.blue-container_head .intro img {
  display: block;
}

.blue-container_head .intro img + img {
  margin-top: 10px;
}

.blue-container_head .intro::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 92px;
  left: 169px;
  min-width: 337px;
  height: 1px;
  background: url('./images/login-page/dotted-line.png') bottom repeat-x;
}

.signin-container {
  position: relative;
  margin-top: 37px;
  padding-left: 170px;
  z-index: 2;
}

.signin-container form {
  font-size: 0;
}

.signin-container form > div + div {
  margin-top: 4px;
}

label[for='id']::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 5px;
  left: -9px;
  width: 3px;
  height: 3px;
  background: url('./images/login-page/red-dot.png') no-repeat;
  vertical-align: top;
}

/* label[for='id']::before, */
label[for='password']::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 3px;
  left: -9px;
  width: 3px;
  height: 3px;
  background: url('./images/login-page/red-dot.png') no-repeat;
  vertical-align: top;
}

label[for='id'],
label[for='password'] {
  color: white;
  font-size: 12px;
  font-family: 'MalgunGothic', sans-serif;
}

label[for='id'] {
  position: absolute;
  top: 7px;
  left: 10px;
  letter-spacing: 5.1px;
}

label[for='password'] {
  position: absolute;
  top: 6px;
  left: 10px;
  letter-spacing: -0.2px;
}

input#save-id {
  position: absolute;
  top: -200%;
  left: -200%;
  font-family: 'gulim', sans-serif;
  font-size: 11px;
  opacity: 0;
  z-index: -100;
}

label[for='save-id'] {
  position: absolute;
  top: 53px;
}

label[for='save-id'] img {
  padding-left: 2px;
  padding-top: 4px;
  vertical-align: top;
}

input#save-id + label::before {
  content: '';
  display: inline-block;
  min-width: 14px;
  min-height: 17px;
  background: url('./images/login-page/checkbox_unchecked.png') no-repeat;
}

input#save-id + label {
  padding-left: 63px;
  color: black;
  font-size: 12px;
  font-weight: bolder;
}

input#save-id:checked + label::before {
  content: '';
  display: inline-block;
  min-width: 14px;
  min-height: 17px;
  background: url('./images/login-page/checkbox_checked.png') no-repeat;
}

input {
  padding: 0px;
}

input#id {
  margin-left: 69px;
  width: 146px;
  height: 18px;
}
input#password {
  margin-left: 69px;
  width: 146px;
  height: 18px;
}

input#save-id {
  margin: 0;
}

.signin-container form {
  display: inline-block;
  position: relative;
}

.signin-container form div {
  position: relative;
}

.signin-container #login-button {
  position: absolute;
  padding: 0;
  top: 0px;
  right: -74px;
  width: 67px;
  height: 50px;
  font-size: 0;
  border: none;
  background: url('./images/login-page/login-button.png');
  cursor: pointer;
}

/* .footer */
.login-page .footer {
  position: absolute;
  bottom: 9px;
  left: 317px;
}

.login-page .footer img + img {
  margin-top: 7px;
}

.login-page .footer p {
  color: #616161;
  font-size: 11px;
  font-family: 'MalgunGothic';
  letter-spacing: -0.4px;
}

.login-page .footer p.top {
  letter-spacing: -0.5px;
}

.login-page .footer p.bottom {
  margin-top: 10px;
  letter-spacing: -0.2px;
}

/* 
 #####                                                                       
#     #     #####   ##   #####  #      ######     #    # ##### #    # #      
      #       #    #  #  #    # #      #          #    #   #   ##  ## #      
 #####        #   #    # #####  #      #####      ######   #   # ## # #      
      # ###   #   ###### #    # #      #      ### #    #   #   #    # #      
#     # ###   #   #    # #    # #      #      ### #    #   #   #    # #      
 #####  ###   #   #    # #####  ###### ###### ### #    #   #   #    # ###### 
*/

.table .wrapper {
  margin: 0 auto;
  width: 980px;
}

.table .main-content {
  padding: 18px 14px 67px 14px;
}

.table .main-wrapper {
  padding: 7px;
  outline: 1px solid #d7d7cb;
  border: 1px solid #fafafa;
  background: #ededed;
}

/* .directory */

.table .directory {
  position: relative;
  padding-right: 12px;
  font-size: 0;
  text-align: right;
  letter-spacing: 0.2px;
}

.table .directory-wrapper::before {
  content: '';
  position: absolute;
  top: 0;
  left: -14px;
  width: 11px;
  height: 11px;
  background: url('./images/table/directory-icon.png');
  vertical-align: middle;
}

.table .directory-wrapper {
  display: inline-block;
  position: relative;
}

.table .directory::after {
  content: '';
  display: block;
  clear: both;
}

.table .directory a,
.table .directory strong {
  position: relative;
  font-size: 10px;
  font-family: 'dotum', sans-serif;
  vertical-align: middle;
}

.table .directory strong {
  margin-left: 16px;
}

.table .not-current {
  display: inline-block;
  position: relative;
}

.table .not-current a {
  text-decoration: none;
  color: #7d7d7d;
}

.table .not-current::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 50%;
  right: -10px;
  margin-top: -4.5px;
  width: 5px;
  height: 9px;
  background: url('./images/table/directory-arrow.png');
}

.table .directory span.current {
  color: #424242;
  font-weight: bolder;
}

/* .main-content */
.table .main-content {
  position: relative;
  margin-top: 6px;
  background: white;
}

/* .table-container */
.blue-button_head::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 2px;
  left: 1px;
  width: 19px;
  height: 15px;
  background: url('./images/table/blue-button_shadow.png');
}

.blue-button_head {
  position: relative;
  height: 21px;
  padding-left: 2px;
  background: url('./images/table/blue-button_head.png') left no-repeat;
  vertical-align: top;
}

.blue-button_tail {
  display: inline-block;
  height: 21px;
  padding-right: 2px;
  background: url('./images/table/blue-button_tail.png') right no-repeat;
  vertical-align: top;
}

.blue-button_body {
  display: inline-block;
  height: 21px;
  background: url('./images/table/blue-button_body.png') center repeat-x;
  color: white;
  vertical-align: top;
}

.blue-button_body span {
  padding: 0 7px;
  line-height: 22px;
  letter-spacing: -1px;
}

/* table */
table {
  width: 100%;
}

.table .table-container {
  position: relative;
  padding-top: 26px;
}

.table table th {
  border: 1px solid #9bb1cb;
  background: url('./images/table/inner-glow_body.png') repeat-x;
  padding: 1.15px 0px;
  color: #19537f;
  font-size: 12px;
  font-family: 'Gulim', sans-serif;
}

.table .table-container:first-of-type .table-wrapper,
.table .table-container:nth-of-type(2) .table-wrapper {
  max-height: 112px;
  overflow-y: scroll;
}

.table .table-container:nth-of-type(3) .table-wrapper {
  max-height: 379px;
  overflow-y: scroll;
}

.table .table-container:first-of-type {
  position: absolute;
  width: 380px;
  z-index: 2;
}

.table .table-container:nth-of-type(2) {
  padding-left: 404px;
  width: 530px;
  z-index: 1;
}

.table .table-container:nth-of-type(2) tbody a {
  color: #f37221;
}

.table .table-container:nth-of-type(3) {
  margin-top: 43px;
}

.table .table-container .button-container {
  position: absolute;
  top: 2px;
  right: 0;
}

.table table th span {
  position: relative;
}

.table table th span::after {
  content: '';
  display: inline-block;
  top: 3px;
  right: -16px;
  margin-top: 3px;
  margin-left: 7px;
  width: 9px;
  height: 5px;
  background: url('./images/table/th_arrow-down.png') no-repeat;
  vertical-align: top;
  cursor: pointer;
}

.table table th:first-of-type::before {
  content: '';
  position: absolute;
  left: 0;
  background: url('./images/table/inner-glow_head.png');
  width: 1px;
  height: 22px;
}

.table table td {
  padding: 0.8px 0px;
  color: #323232;
  font-size: 12px;
  font-family: 'Gulim', sans-serif;
  border: 1px solid #cccccc;
  text-align: center;
}

.table table tr:nth-of-type(2n-1) {
  background: #eceef0;
}

/* .footer */
.table .footer {
  position: relative;
  padding-top: 23px;
  padding-bottom: 22px;
  border: 1px solid #cdcdcd;
  outline: 1px solid #cdcdcd;
  background: #cdcdcd;
}

.table .footer .left {
  padding-left: 25px;
  font-family: 'gulim', sans-serif;
  color: #444444;
  font-size: 11px;
  text-align: left;
  letter-spacing: 0.2px;
}

.table .footer .left span {
  vertical-align: middle;
}

.table .footer .right {
  position: absolute;
  top: 50%;
  right: 21px;
  margin-top: -6.5px;
  font-size: 0;
}

.table .footer .right span {
  padding-right: 5px;
  color: white;
  font-size: 8px;
  vertical-align: middle;
  text-align: right;
  letter-spacing: 0.8px;
}

.table .footer .right::after {
  content: '';
  display: inline-block;
  width: 18px;
  height: 14px;
  background: url('./images/table/footer-icon.png') no-repeat;
  vertical-align: middle;
  cursor: pointer;
}
