/* 
########  ########   #######  ########      #######  ########  ########  ######## ########  
##     ## ##     ## ##     ## ##     ##    ##     ## ##     ## ##     ## ##       ##     ## 
##     ## ##     ## ##     ## ##     ##    ##     ## ##     ## ##     ## ##       ##     ## 
########  ########  ##     ## ########     ##     ## ########  ##     ## ######   ########  
##        ##   ##   ##     ## ##           ##     ## ##   ##   ##     ## ##       ##   ##   
##        ##    ##  ##     ## ##           ##     ## ##    ##  ##     ## ##       ##    ##  
##        ##     ##  #######  ##            #######  ##     ## ########  ######## ##     ## 
*/
.ex {
  display: block;
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 0;
  height: 0;
  line-height: 0;
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  font-family: '나눔';
  border: 1px solid #ddd;
  background: none;
  float: left;
  clear: both;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
  z-index: 0;
}

/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  
 ######   ######## ##    ## ######## ########     ###    ##       
##    ##  ##       ###   ## ##       ##     ##   ## ##   ##       
##        ##       ####  ## ##       ##     ##  ##   ##  ##       
##   #### ######   ## ## ## ######   ########  ##     ## ##       
##    ##  ##       ##  #### ##       ##   ##   ######### ##       
##    ##  ##       ##   ### ##       ##    ##  ##     ## ##       
 ######   ######## ##    ## ######## ##     ## ##     ## ######## 
*/

@font-face {
  font-family: 'ydiy330';
  src: url('./font/ydiygo330/YDIYGO330.woff2') format('woff2'),
    url('./font/ydiygo330/YDIYGO330.woff') format('woff');
  font-family: 'FuturaBT';
  src: url('./font/FuturaBT/futuraMediumBT.woff') format('woff');
}

body {
  font-family: 'ydiy330', sans-serif;
  margin: 20px auto;
  /* margin: 0 auto; */
}

.outerbox {
  background: url('./images/outer_border_head.png') no-repeat;
  width: 790px;
  height: 3px;
  margin: 20px 20px;
}

/* .outerbox_ethics {
  background: url('./images/윤리규범/orange-horizontal-line.png') no-repeat;
  width: 790px;
  height: 3px;
  margin: 20px 20px;
} */

.outerbox > div {
  background: url('./images/outer_border_tail.png') no-repeat;
}

.outerbox > div > div {
  position: relative;
  /* width: 784.5px; */
  top: 3px;
  padding: 59px;
  border-left: 2px solid #e3e3e3;
  border-right: 2px solid #e3e3e3;
}
/* .head */

h1 {
  /* display: inline-block; */
  padding-bottom: 4px;
  color: #464646;
  font-size: 20px;
  letter-spacing: -0.4px;
  border-bottom: 1px solid #efefef;
  background: url('./images/orange-circle.png') no-repeat;

  padding-left: 26px;
}

h1 + strong {
  /* display: inline-block; */
  color: #464646;
  font-size: 19px;
  font-weight: 600;
  letter-spacing: -1.9px;
}

h1 + strong.statement_employment {
  /* letter-spacing: -3.7px; */
}

h1 + strong.statement_talent {
  /* letter-spacing: -2.2px; */
}

h1 + p {
  line-height: 16px;
  color: #9b9b9b;
  font-size: 14px;
  letter-spacing: -1.5px;
}

h1 + p,
h1 + strong {
  display: block;
  margin-top: 30px;
}

h1 + p.paragraph_HR {
  line-height: 22px;
  color: #d1d1d1;
  font-size: 18px;
  letter-spacing: -2px;
}

h1 + p.paragraph_HR > strong {
  line-height: 24px;
  color: #f7941e;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: -2.5px;
}

.location {
  display: inline-block;
  display: relative;
  position: absolute;
  right: 59px;
  font-size: 0;
}

.location > a {
  color: #c8c8c8;
  font-size: 11px;
  font-family: '돋움', Dotum;
  text-decoration: none;
  letter-spacing: -0.4px;
}

.location > :not(a:last-of-type):after {
  display: inline-block;
  margin: 0px 5px;
  content: '';
  background: url('./images/location_arrow.png') no-repeat;
  width: 5px;
  height: 9px;
}

.location > a > strong {
  color: #f7941e;
}

/* .body */
.body {
  margin-top: 30px;
}

.innerbox {
  background: url('./images/채용안내/inner_box_headtail.png') no-repeat;
}

.innerbox_ethics {
  background: url('./images/윤리규범/orange-horizontal-line.png') repeat-x;
  width: 666px;
}

.innerbox > div,
.innerbox_ethics > div {
  background: url('./images/채용안내/inner_box_headtail.png') no-repeat;
}

.innerbox > div > div,
.innerbox_ethics > div > div {
  position: relative;
  top: 3px;
  border-left: 3px solid #e3e3e3;
  border-right: 3px solid #e3e3e3;
  padding: 30px 30px;
}

/* 
#### ##    ## ########  ######## ##     ##       ##   
 ##  ###   ## ##     ## ##        ##   ##      ####   
 ##  ####  ## ##     ## ##         ## ##         ##   
 ##  ## ## ## ##     ## ######      ###          ##   
 ##  ##  #### ##     ## ##         ## ##         ##   
 ##  ##   ### ##     ## ##        ##   ##        ##   
#### ##    ## ########  ######## ##     ##     ###### 
*/

.introduction {
  min-height: 114px;
  background: url('./images/채용안내/haitai-logo.png') no-repeat;
}

.introduction > p {
  width: 188px;
  color: #9b9b9b;
  line-height: 20px;
  font-size: 15px;
  letter-spacing: -2.5px;
}

.position > dl > dt {
  color: #f7941e;
  font-size: 15px;
  font-weight: 500;
}

.position > dl > dd {
  margin-top: 8px;
  line-height: 15px;
  color: #9b9b9b;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -1.7px;
}

.position > button.job-apply-button {
  display: inline-block;
  background: url('./images/채용안내/button_head.png') no-repeat;
  border: none;
  color: white;
  padding-left: 4px;
  /* height: 22px; */
  /* font-size: 0; */
  /* width: 77px; */
  background-color: white;
  /* padding: 0; */
  vertical-align: top;
}

.position > button.job-apply-button > span {
  display: inline-block;
  background: url('./images/채용안내/button_tail.png') no-repeat;
  padding-right: 4px;
  vertical-align: top;
}

.position > button.job-apply-button > span > span {
  display: inline-block;
  background: url('./images/채용안내/button_body.png');
  vertical-align: top;
  height: 22px;
}

.process > .title {
  padding-bottom: 9px;
  width: 610px;
  color: #f7941e;
  font-size: 18px;
  font-weight: normal;
  border-bottom: 1px solid #efefef;
}

.process > .contents {
  margin-top: 14px;
}

.process > .contents > ol {
  font-size: 0;
}

.process > .contents > ol > li {
  display: inline-block;
  /* padding-left: 4px; */
  width: 103px;
  height: 39px;
  margin-right: 9px;
  line-height: 2;
  color: #9b9b9b;
  border: 3px solid #dfdfdf;

  font-size: 16px;
  /* line-height: 22px; */
  letter-spacing: -2.2px;
  text-align: center;
}

.process > .contents > ol > li:before {
  margin-right: 4px;
  font-size: 20px;
  letter-spacing: -0.8px;
}

.process > .contents > ol > li:first-of-type::before {
  content: '01';
}
.process > .contents > ol > li:nth-of-type(2)::before {
  content: '02';
}
.process > .contents > ol > li:nth-of-type(3)::before {
  content: '03';
}
.process > .contents > ol > li:nth-of-type(4)::before {
  content: '04';
}
.process > .contents > ol > li:nth-of-type(5)::before {
  content: '05';
}
.process > .contents > ol > li:not(:last-of-type):after {
  display: inline-block;
  position: relative;
  content: '';
  background: url('./images/채용안내/box-arrow.png') no-repeat;
  width: 9px;
  height: 12px;

  left: 17px;
  /* right: 0px; */

  /* top: 13.5px; */
}
.process > .contents > ol > li:first-of-type::after {
  /* content: '01'; */
}

.footer {
  color: #9b9b9b;
  font-size: 13px;
  line-height: 18.58px;
  letter-spacing: -0.8px;
  font-weight: normal;
  margin-top: 35px;
  margin-left: 29px;
}

.footer > ul > li::before {
  display: inline-block;
  content: '';
  margin: 0px 5px 5px 0px;
  width: 4px;
  height: 2px;
  background: url('./images/채용안내/dash.png') no-repeat;
}

/* 
#### ##    ## ########  ######## ##     ##     #######  
 ##  ###   ## ##     ## ##        ##   ##     ##     ## 
 ##  ####  ## ##     ## ##         ## ##             ## 
 ##  ## ## ## ##     ## ######      ###        #######  
 ##  ##  #### ##     ## ##         ## ##      ##        
 ##  ##   ### ##     ## ##        ##   ##     ##        
#### ##    ## ########  ######## ##     ##    ######### 
*/
.tabs {
  font-size: 0;
}

.tabs > button {
  width: 135px;
  height: 29px;
  font-size: 15px;
  border: none;
  color: white;
  cursor: pointer;
}

.tabs > button:first-of-type {
  margin-right: 1px;
  background-color: #c1c1c1;
}

.tabs > button:first-of-type::after {
  /* content: '';
  display: inline-block;
  position: absolute;
  width: 16px;
  height: 4px;

  background: url('./images/윤리규범/white-bar.png') no-repeat; */
}

.tabs button.active {
  position: relative;
  background: 0% 50% url('./images/윤리규범/white-bar.png') no-repeat;
}

.tabs > button:nth-of-type(2) {
  background-color: #ff9500;
}

.list_folded > section > a {
  text-decoration: none;
}

.list_folded > section > a > h2 {
  width: 625px;
  line-height: 18.58px;
  padding-bottom: 8px;
  color: #9b9b9b;
  background: 0px 23px url('./images/dotted-horizontal-line.png') repeat-x;
  letter-spacing: -0.8px;
}

.list_folded > section:nth-of-type(2) > a > h2 {
  margin-top: 20px;
}

.list_folded > section > ol {
  margin-top: 17px;
  padding: 15px 0px 15px 20px;
  color: #9b9b9b;
  background-color: #f4f4f4;
  letter-spacing: -1.8px;
  font-size: 0px;
}

.list_folded > section > ol > li:before {
  color: #ff8416;
  font-weight: bold;
  margin-right: 6px;
  font-size: 14px;
}

.list_folded > section > ol > li:first-of-type::before {
  content: '01';
}
.list_folded > section > ol > li:first-of-type {
  margin-right: 65px;
}

.list_folded > section > ol > li:nth-of-type(2)::before {
  content: '02';
}
.list_folded > section > ol > li:nth-of-type(2) {
  margin-right: 135px;
}
.list_folded > section > ol > li:nth-of-type(3)::before {
  content: '03';
}
.list_folded > section > ol > li:nth-of-type(4)::before {
  content: '04';
}
.list_folded > section > ol > li:nth-of-type(4) {
  margin-right: 92px;
}
.list_folded > section > ol > li:nth-of-type(5)::before {
  content: '05';
}
.list_folded > section > ol > li:nth-of-type(5) {
  margin-right: 96px;
}
.list_folded > section > ol > li:nth-of-type(6)::before {
  content: '06';
}
.list_folded > section > ol > li {
  display: inline-block;
  font-size: 14px;
  /* margin-right: 30px; */
  /* background-color: red; */
  padding: 3.5px 0px;
}

.list_folded > section:first-of-type > ol > li {
  margin-right: 30px;
}

.list_folded > section:nth-of-type(2) > ol > li {
  /* margin-right: 30px; */
}

.list_unfolded > section {
  font-family: 'ydiywebdotum';
  font-size: 11px;
  line-height: 16px;
  color: #949494;
}

.list_unfolded > section > h2,
.list_unfolded > section > ol > li > h3,
.list_unfolded > section > ol > li > ol > li > h4 {
  font-weight: bold;
}

.list_unfolded > section > h2#list-two + ol > li > h3 {
  color: orange;
}

/* 
.list_unfolded > section > h2: 
- [일반원칙]
- [실천지침]

.list_unfolded > section > ol > li > h3: 
- ([일반원칙]안의) 1. 적용대상, 2. 윤리위원회/윤리사무국의 설치 및 운영
- ([실천지침]안의) 제 1장 고객에 대한 책임과 의무, 제 2장 공정한 경쟁

.list_unfolded > section > ol > li > ol > li > h4: 
- ([실천지침] 안의 '제 1장 고객에 대한 책임과 의무' 안의) 
1. 성실한 정보제공

.list_unfolded > section > h2#list-two + ol > li > h3:
- ([실천지침] 안의) '제 1장 고객에 대한 책임과 의무'
- 제 2장 공정한 경쟁
*/

.list_unfolded > section > h2,
.list_unfolded > section > ol > li > h3,
.list_unfolded > section > ol > li > ol > li > h4 {
  margin-top: 22px;
}
/* [일반원칙] 안의 roman list*/
.list_unfolded > section:first-of-type > ol > li > h3 + ol,
/* [실천지침] 안의 roman list */
.list_unfolded > section:nth-of-type(2) > ol > li > ol > li > ul,
.list_unfolded > section:nth-of-type(2) > ol > li:nth-of-type(2) > ol,

.list_unfolded > section:nth-of-type(2) >ol>li>ol>li>p+ul {
  margin-left: 9px;
}

/* 
#### ##    ## ########  ######## ##     ##     #######  
 ##  ###   ## ##     ## ##        ##   ##     ##     ## 
 ##  ####  ## ##     ## ##         ## ##             ## 
 ##  ## ## ## ##     ## ######      ###        #######  
 ##  ##  #### ##     ## ##         ## ##             ## 
 ##  ##   ### ##     ## ##        ##   ##     ##     ## 
#### ##    ## ########  ######## ##     ##     #######  
*/
.head > p > strong {
  display: block;
}

.thumbnail_section > ul > li > h3,
.thumbnail_section > ul > li > p {
  display: inline-block;
}

.thumbnail_section:not(:first-of-type) {
  background: url('./images/dotted-horizontal-line.png') repeat-x;
  margin-top: 20px;
}

.thumbnail_section:nth-of-type(3) {
  margin-top: 34px;
}

.thumbnail_section:nth-of-type(2),
.thumbnail_section:nth-of-type(3) {
  padding-top: 20px;
}
.thumbnail_section:nth-of-type(4) {
  margin-top: 45px;
  padding-top: 20px;
}

.thumbnail_section:nth-of-type(3) > ul > li:nth-of-type(2) > h3,
.thumbnail_section:nth-of-type(3) > ul > li:nth-of-type(4) > h3 {
  position: relative;
  top: -13px;
}
.thumbnail_section:nth-of-type(3) > ul > li:nth-of-type(3) > h3 {
  position: relative;
  top: -14px;
}

.thumbnail_section > h2 {
  /* display: inline-block; */
  width: 65px;
  height: 65px;
  font-size: 20px;
  color: white;
  text-align: center;
}

.thumbnail_section > ul,
.thumbnail_section > p {
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  color: #9b9b9b;
  letter-spacing: -0.4px;

  margin-left: 87px;
  line-height: 15.5px;
}
.thumbnail_section > ul {
  /* position: absolute; */
}
.thumbnail_section > p {
  position: relative;
  top: -66px;
}

.thumbnail_section > ul {
  margin-top: -65px;
}

.thumbnail_section:first-of-type > ul {
  margin-top: -53px;
}

.thumbnail_section:nth-of-type(2) > ul {
  margin-top: -45px;
}

.thumbnail_section:nth-of-type(4) > ul {
  padding-top: 24px;
}

.thumbnail_section > h2 > span {
  position: relative;
  top: 13px;
}

.thumbnail_section:nth-of-type(2n-1) > h2 {
  background-color: #ffba00;
}

.thumbnail_section:nth-of-type(2n) > h2 {
  background-color: #ff9500;
}

/* 
#### ##    ## ########  ######## ##     ##    ##        
 ##  ###   ## ##     ## ##        ##   ##     ##    ##  
 ##  ####  ## ##     ## ##         ## ##      ##    ##  
 ##  ## ## ## ##     ## ######      ###       ##    ##  
 ##  ##  #### ##     ## ##         ## ##      ######### 
 ##  ##   ### ##     ## ##        ##   ##           ##  
#### ##    ## ########  ######## ##     ##          ##  
*/
.terms_of_service > fieldset:nth-of-type(4) {
  font-size: 0;
}
.terms_of_service > fieldset:nth-of-type(4) > button,
.terms_of_service > fieldset:nth-of-type(4) > input {
  font-size: 14px;
}
/* 
#### ##    ## ########  ######## ##     ##    ######## 
 ##  ###   ## ##     ## ##        ##   ##     ##       
 ##  ####  ## ##     ## ##         ## ##      ##       
 ##  ## ## ## ##     ## ######      ###       #######  
 ##  ##  #### ##     ## ##         ## ##            ## 
 ##  ##   ### ##     ## ##        ##   ##     ##    ## 
#### ##    ## ########  ######## ##     ##     ######  
*/
.diagram-container + .button-container {
  font-size: 0;
}

.diagram-container + .button-container > button {
  font-size: 15px;
}
