/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*  
 ######   ######## ##    ## ######## ########     ###    ##       
##    ##  ##       ###   ## ##       ##     ##   ## ##   ##       
##        ##       ####  ## ##       ##     ##  ##   ##  ##       
##   #### ######   ## ## ## ######   ########  ##     ## ##       
##    ##  ##       ##  #### ##       ##   ##   ######### ##       
##    ##  ##       ##   ### ##       ##    ##  ##     ## ##       
 ######   ######## ##    ## ######## ##     ## ##     ## ######## 
*/

@font-face {
  font-family: 'ydiy330';
  src: url('./font/ydiygo330/YDIYGO330.woff2') format('woff2'),
    url('./font/ydiygo330/YDIYGO330.woff') format('woff');
  font-family: 'ydiy340';
  src: url('./font/ydiygo340/YDIYGO340.woff2') format('woff2'),
    url('./font/ydiygo340/YDIYGO340.woff') format('woff');
  font-family: 'FuturaBT';
  src: url('./font/FuturaBT/futuraMediumBT.woff') format('woff');
  font-family: 'YDIWebDotum';
  src: url('./font/ydiywebdotum/YDIWebDotum.woff') format('woff');
}

body {
  margin: 20px 0;
}

.wrapper {
  margin: 0 auto;
  width: 790px;
}

.outerbox.head {
  padding-top: 3px;
  background: url('./images/outer_border_head.png') top no-repeat;
}

.outerbox.tail {
  padding-bottom: 3px;
  background: url('./images/outer_border_tail.png') bottom no-repeat;
}

.outerbox.body {
  padding: 59px 62px;
  background: url('./images/outer_border_body.png') repeat-y;
}

.innerbox.head {
  padding-top: 3px;
  background: url('./images/채용안내/inner_box_headtail.png') top no-repeat;
}

.innerbox.tail {
  padding-bottom: 3px;
  background: url('./images/채용안내/inner_box_headtail.png') bottom no-repeat;
}

.innerbox.body {
  /* background: url('./images/채용안내/inner_box_body.png'); */
  border-left: 3px solid #efefef;
  border-right: 3px solid #efefef;
}

.label-container {
  padding-bottom: 3px;
  background: url('./images/채용안내/inner_box_headtail.png') repeat-y;
}

.location {
  display: inline-block;
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -5.5px;
  font-size: 0;
}

.location-text.first,
.location-text,
.location-text.last {
  color: #c8c8c8;
  font-size: 11px;
  font-family: '돋움', Dotum;
  text-decoration: none;
  letter-spacing: -0.4px;
}

.location-text,
.location-text.last {
  padding-left: 10px;
  margin-left: 5px;
}

.location-text.last {
  color: #f7941e;
}

.location-arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -4.5px;
  margin-left: 5px;
  width: 5px;
  height: 9px;
  background: url('./images/location-arrow.png');
}

.h1-wrapper {
  position: relative;
  padding: 4px 0;
  background: url('./images/heading-underline.png') bottom no-repeat;
  /* padding-bottom: 4px; */
  /* border-bottom: 1px solid #efefef; */
}

/* 
채용안내
#### ##    ## ########  ######## ##     ##       ##   
 ##  ###   ## ##     ## ##        ##   ##      ####   
 ##  ####  ## ##     ## ##         ## ##         ##   
 ##  ## ## ## ##     ## ######      ###          ##   
 ##  ##  #### ##     ## ##         ## ##         ##   
 ##  ##   ### ##     ## ##        ##   ##        ##   
#### ##    ## ########  ######## ##     ##     ###### 
채용안내
*/

h1.employment {
  background: url('./images/채용안내/h1-title.png') no-repeat;
  height: 18px;
}

strong.employment {
  display: inline-block;
  margin-top: 30px;
  min-width: 658px;
  height: 19px;
  background: url('./images/채용안내/strong_head.png') no-repeat;
}

.innerbox.head.employment {
  margin-top: 30px;
}

.innerbox.body.employment {
  padding-top: 35px;
  padding-bottom: 33px;
  font-size: 0;
}

div.introduction.employment {
  display: inline-block;
  min-height: 185px;
  max-width: 276px;
  padding-left: 48px;
  box-sizing: border-box;
  vertical-align: top;
}

p.introduction.employment {
  padding-top: 133px;
  color: #9b9b9b;
  line-height: 20px;
  font-size: 15px;
  background: url('./images/채용안내/haitai-logo.png') no-repeat;
  letter-spacing: -2;
}

div.position.employment {
  display: inline-block;
  margin-left: 38px;
  padding-left: 26px;
  max-width: 280px;
  background: url('./images/채용안내/vertical_line.png') repeat-y;
}

dt.employment {
  color: #f7941e;
  font-size: 15px;
}

dl.second.employment,
dl.third.employment {
  margin-top: 30px;
}

dd.employment {
  margin-top: 8px;
  line-height: 15px;
  color: #9b9b9b;
  font-size: 13px;
  letter-spacing: -1.56px;
}

.button.head.employment {
  display: inline-block;
  margin-top: 9px;
  padding: 0 0 0 4px;
  height: 22px;
  border: none;
  background: url('./images/채용안내/button_head.png') no-repeat;
  vertical-align: top;
  cursor: pointer;
}

.button.tail.employment {
  display: inline-block;
  padding-right: 4px;
  height: 22px;
  background: url('./images/채용안내/button_tail.png') right no-repeat;
  vertical-align: top;
}

.button.body.employment {
  display: inline-block;
  position: relative;
  min-width: 67px;
  height: 22px;
  color: white;
  background: url('./images/채용안내/button_body.png') repeat-x;
}

.button.text.employment {
  display: inline-block;
  position: absolute;
  top: 50%;
  left: 0;
  bottom: 0;
  right: 0;
  margin-top: -7.5px;
  font-size: 10px;
}

div.footer.employment {
  padding-left: 29px;
  margin-top: 35px;
}

ul.footer.employment {
  line-height: 18.58px;
  color: #9b9b9b;
  font-size: 13px;
  font-weight: normal;
  letter-spacing: -0.8px;
}

li.footer.employment::before {
  display: inline-block;
  content: '';
  padding: 0px 5px 5px 0px;
  width: 4px;
  height: 2px;
  background: url('./images/채용안내/dash.png') no-repeat;
}

div.process.employment {
  margin-top: 12px;
  padding-left: 28px;
  padding-right: 25px;
}

h2.process.employment {
  /* width: 610px; */
  color: #f7941e;
  font-size: 18px;
  font-weight: normal;
  letter-spacing: -3px;
}

div.list-container.employment {
  padding: 0;
  background: url('./images/dotted-horizontal-line.png') repeat-x;
}

ul.process.employment {
  margin-top: 12px;
  padding-top: 14px;
  font-size: 0;
}

li.process.employment {
  display: inline-block;
  position: relative;
  padding: 0 2.5px;
  width: 103px;
  height: 39px;
  line-height: 2;
  color: #9b9b9b;
  font-size: 0;
  border: 3px solid #dfdfdf;
  letter-spacing: -2.2px;
  text-align: center;
}

li.process.first.employment::after,
li.process.second.employment::after,
li.process.third.employment::after,
li.process.fourth.employment::after {
  position: absolute;
  content: '';
  display: inline-block;
  top: 50%;
  left: 108px;
  margin-top: -6px;
  width: 9px;
  height: 12px;
  background: url('./images/채용안내/box-arrow.png') no-repeat;
}

li.process.second.employment,
li.process.third.employment,
li.process.fourth.employment,
li.process.fifth.employment {
  margin-left: 10px;
}

span.process.number.employment {
  margin-right: 4px;
  font-size: 20px;
  letter-spacing: -0.8px;
  font-family: 'ydiy330', sans-serif;
}

span.process.text.employment {
  font-size: 16px;
}
/* 
윤리규범
#### ##    ## ########  ######## ##     ##     #######  
 ##  ###   ## ##     ## ##        ##   ##     ##     ## 
 ##  ####  ## ##     ## ##         ## ##             ## 
 ##  ## ## ## ##     ## ######      ###        #######  
 ##  ##  #### ##     ## ##         ## ##      ##        
 ##  ##   ### ##     ## ##        ##   ##     ##        
#### ##    ## ########  ######## ##     ##    ######### 
윤리규범
*/

h1.ethics {
  background: url('./images/윤리규범/h1-title.png') no-repeat;
  /* border-bottom: 1px solid #efefef; */
  height: 19px;
}

p.ethics {
  display: inline-block;
  margin-top: 34px;
  min-width: 670px;
  height: 70px;
  background: url('./images/윤리규범/paragraph_head.png') no-repeat;
}

/* 
인사관리
#### ##    ## ########  ######## ##     ##     #######  
 ##  ###   ## ##     ## ##        ##   ##     ##     ## 
 ##  ####  ## ##     ## ##         ## ##             ## 
 ##  ## ## ## ##     ## ######      ###        #######  
 ##  ##  #### ##     ## ##         ## ##             ## 
 ##  ##   ### ##     ## ##        ##   ##     ##     ## 
#### ##    ## ########  ######## ##     ##     #######  
인사관리
*/

div.innerbox.head.hr {
  margin-top: 28px;
}

div.innerbox.body.hr {
  padding: 30px;
}

h1.hr {
  background: url('./images/인사관리/h1-title.png') no-repeat;
  /* border-bottom: 1px solid #efefef; */
  height: 18px;
}

p.hr {
  display: inline-block;
  margin-top: 28px;
  min-width: 455px;
  height: 39px;
  background: url('./images/인사관리/paragraph_hr.png') no-repeat;
}

.section {
  /* position: relative; */
}

section.second,
section.third,
section.fourth {
  /* position: relative; */
  background: url('./images/인사관리/dotted-horizontal-line.png') no-repeat;
  margin-top: 20px;
  padding-top: 20px;
}

.section.second {
}

h2.thumbnail {
  display: inline-block;
  position: relative;
  width: 65px;
  height: 65px;
  font-size: 20px;
  color: white;
  text-align: center;
  vertical-align: top;
}
h2.first,
h2.third {
  background-color: #ffba00;
}
h2.second,
h2.fourth {
  background-color: #ff9500;
}
span.thumbnail.text {
  position: absolute;
  top: 50%;
  right: 0;
  bottom: 0;
  left: 0;
  margin-top: -16.25px;
}

.description.fourth.hr {
  margin-top: 24px;
}

.description-container.hr {
  display: inline-block;
  position: relative;

  font-size: 11px;
  font-family: 'dotum', sans-serif;
  color: #9b9b9b;
  letter-spacing: -0.4px;
  /* margin-left: 87px; */
  padding-left: 22px;
  /* line-height: 15.5px; */
}

.description-container_hr.second,
.description-container_hr.third,
.description-container_hr.fourth {
  /* height: 1px; */
}

.description-container_hr.first {
}
.description_hr.first,
.description_hr.second {
  /* position: absolute;
  top: 50%; */
  /* margin-top: -16.25px; */
}
.description-container_hr.second {
}

.description-container_hr.third {
}

.description-container_hr.fourth {
}

/* 
회원가입
#### ##    ## ########  ######## ##     ##    ##        
 ##  ###   ## ##     ## ##        ##   ##     ##    ##  
 ##  ####  ## ##     ## ##         ## ##      ##    ##  
 ##  ## ## ## ##     ## ######      ###       ##    ##  
 ##  ##  #### ##     ## ##         ## ##      ######### 
 ##  ##   ### ##     ## ##        ##   ##           ##  
#### ##    ## ########  ######## ##     ##          ##  
회원가입
*/

h1.signup {
  background: url('./images/인사관리/h1-title.png') no-repeat;
  /* border-bottom: 1px solid #efefef; */
  height: 18px;
}

p.signup.bottom {
  display: inline-block;
  margin-top: 20px;
  min-width: 664px;
  height: 14px;
  background: url('./images/회원가입/paragraph_bottom_signup.png') no-repeat;
}

p.signup.top {
  display: inline-block;
  position: absolute;
  top: 50%;
  margin-top: -7.5px;
  min-width: 318px;
  height: 15px;
  background: url('./images/회원가입/paragraph_top_signup.png') no-repeat;
}

.button-container.signup {
  font-size: 0;
}

.button-wrapper.signup {
  text-align: center;
}

.button.one.head.signup {
  display: inline-block;
  padding: 0 0 0 3px;
  height: 36px;
  background: url('./images/회원가입/orange-button_head.png') no-repeat;
  border: none;
  cursor: pointer;
}
.button.one.tail.signup {
  display: inline-block;
  padding-right: 4px;
  height: 36px;
  background: url('./images/회원가입/orange-button_tail.png') right no-repeat;
  vertical-align: top;
}
.button.one.body.signup {
  display: inline-block;
  position: relative;
  min-width: 72px;
  height: 36px;
  line-height: 36px;
  font-size: 0px;
  background: url('./images/회원가입/orange-button_body.png') repeat-x;
  vertical-align: top;
}

.button.one.icon.signup {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url('./images/회원가입/orange-button_icon.png') no-repeat;
}

.button.one.text.signup {
  color: white;
  margin-left: 6px;
  font-size: 15px;
  letter-spacing: -2px;
}

.button.two.head.signup {
  display: inline-block;
  margin-left: 13px;
  padding: 0 0 0 3px;
  height: 36px;
  background: url('./images/회원가입/white-button_head.png') no-repeat;
  border: none;
  cursor: pointer;
}
.button.two.tail.signup {
  display: inline-block;
  padding-right: 4px;
  height: 36px;
  background: url('./images/회원가입/white-button_tail.png') right no-repeat;
  vertical-align: top;
}
.button.two.body.signup {
  display: inline-block;
  position: relative;
  min-width: 72px;
  height: 36px;
  line-height: 36px;
  font-size: 0px;
  background: url('./images/회원가입/white-button_body.png') repeat-x;
  vertical-align: top;
}

.button.two.text.signup {
  color: #a0a0a0;
  font-size: 15px;
  letter-spacing: -2px;
}

fieldset.first,
fieldset.second,
fieldset.third {
  border-left: 3px solid #ececec;
  border-right: 3px solid #ececec;
}

fieldset.second,
fieldset.third {
  margin-top: 23px;
}
/* 
인재상
#### ##    ## ########  ######## ##     ##    ######## 
 ##  ###   ## ##     ## ##        ##   ##     ##       
 ##  ####  ## ##     ## ##         ## ##      ##       
 ##  ## ## ## ##     ## ######      ###       #######  
 ##  ##  #### ##     ## ##         ## ##            ## 
 ##  ##   ### ##     ## ##        ##   ##     ##    ## 
#### ##    ## ########  ######## ##     ##     ######  
인재상
*/

h1.talent {
  background: url('./images/인재상/h1-title.png') no-repeat;
  /* border-bottom: 1px solid #efefef; */
  height: 19px;
}

strong.talent {
  display: inline-block;
  margin-top: 31px;
  min-width: 658px;
  height: 19px;
  background: url('./images/인재상/strong_talent.png') no-repeat;
}

.talent_button-container {
  font-size: 0;
}

.talent_button-wrapper {
  text-align: center;
}

button.talent_button-one_head {
  display: inline-block;
  padding: 0 0 0 3px;
  height: 36px;
  background: url('./images/인재상/orange-button-head.png') no-repeat;
  border: none;
  cursor: pointer;
}

.talent_button-one_tail {
  display: inline-block;
  padding-right: 4px;
  height: 36px;
  background: url('./images/인재상/orange-button-tail.png') right no-repeat;
  vertical-align: top;
}

.talent_button-one_body {
  display: inline-block;
  position: relative;
  min-width: 113px;
  height: 36px;
  line-height: 36px;
  background: url('./images/인재상/orange-button-body.png') repeat-x;
  vertical-align: top;
}

.talent_button-one_icon {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url('./images/인재상/orange-button-icon.png') no-repeat;
}

.talent_button-one_text {
  color: white;
  font-size: 15px;
}

button.talent_button-two_head {
  display: inline-block;
  margin-left: 4px;
  padding: 0 0 0 3px;
  height: 36px;
  background: url('./images/인재상/white-button-head.png') no-repeat;
  border: none;
  cursor: pointer;
}

.talent_button-two_tail {
  display: inline-block;
  padding-right: 4px;
  height: 36px;
  background: url('./images/인재상/white-button-tail.png') right no-repeat;
  vertical-align: top;
}

.talent_button-two_body {
  display: inline-block;
  position: relative;
  min-width: 150px;
  height: 36px;
  line-height: 36px;
  font-size: 15px;
  background: url('./images/인재상/white-button-body.png') repeat-x;
  vertical-align: top;
}

.talent_button-two_icon {
  display: inline-block;
  width: 15px;
  height: 14px;
  background: url('./images/인재상/white-button-icon.png') no-repeat;
}

.talent_button-two_text {
  color: #ff9600;
  font-size: 15px;
}
