/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    border-collapse: collapse;
    border-spacing: 0;
  }
}

/* 
 ####  ###### #    # ###### #####    ##   #      
#    # #      ##   # #      #    #  #  #  #      
#      #####  # #  # #####  #    # #    # #      
#  ### #      #  # # #      #####  ###### #      
#    # #      #   ## #      #   #  #    # #      
 ####  ###### #    # ###### #    # #    # ###### 
*/

.wrapper {
  background: url('./images/background.png') no-repeat;
  position: relative;
  margin: 0 auto;
  width: 1024px;
  height: 1253px;
  z-index: -3;
}

.wrapper::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 1024px;
  height: 1253px;
  background: url('./images/popup-background.png') no-repeat;
  z-index: -2;
}

.popup_wrapper {
  padding-top: 154px;
  padding-left: 1px;
  text-align: center;
}

.popup_head {
  position: relative;
  display: inline-block;
  padding-left: 6px;
  height: 664px;
  background: url('./images/popup-head.png') left no-repeat;
  /* z-index: -1; */
  text-align: left;
}

.popup_head::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: -19px;
  right: -17px;
  width: 50px;
  height: 50px;
  background: url('./images/popup_close-button.png');
  cursor: pointer;
}

.popup_tail {
  display: inline-block;
  padding-right: 6px;
  height: 664px;
  background: url('./images/popup-tail.png') right no-repeat;
  vertical-align: top;
}

.popup_body {
  display: inline-block;
  height: 664px;
  background: url('./images/popup-body.png') center repeat-x;
  min-width: 741px;
  vertical-align: top;
}

.popup-content-wrapper {
  padding: 37px 20px 22px 20px;
}

.popup-title_head::before {
  content: '';
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 583px;
  height: 48px;
  background: url('./images/popup-title_background_left.png') left no-repeat;
}

.popup-title_head {
  position: relative;
  padding-left: 2px;
  height: 48px;
  background: url('./images/popup-title_head.png') left no-repeat;
  /* z-index: 3; */
}
.popup-title_tail {
  padding-right: 2px;
  height: 48px;
  background: url('./images/popup-title_tail.png') right no-repeat;
  vertical-align: top;
}

.popup-title_body::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 15px;
  top: 22px;
  width: 6px;
  height: 7px;
  background: url('./images/popup-title_arrow.png');
}

.popup-title_body {
  height: 48px;
  background: url('./images/popup-title_body.png') center repeat-x;
  vertical-align: top;
}

h1::before {
  content: '';
  display: inline-block;
  position: absolute;
  left: 31px;
  top: 0px;
  width: 49px;
  height: 47px;
  background: url('./images/popup-title_icon.png') no-repeat;
}

h1 {
  padding-top: 16px;
  padding-left: 88px;
  /* line-height: 40px; */
}

.popup-content_head {
  padding-left: 5px;
  margin-top: 10px;
  height: 505px;
  background: url('./images/popup-content_head.png') left no-repeat;
}

.popup-content_tail {
  padding-right: 5px;
  height: 505px;
  background: url('./images/popup-content_tail.png') right no-repeat;
  vertical-align: top;
}

.popup-content_body {
  height: 505px;
  background: url('./images/popup-content_body.png') center repeat-x;
  vertical-align: top;
}

.popup-content_body p::before {
  content: '';
  display: inline-block;
  position: absolute;
  top: 18px;
  left: 19px;
  width: 12px;
  height: 12px;
  background: url('./images/popup_bullet.png') no-repeat;
}

.popup-content_body p {
  position: relative;
  padding-top: 19px;
  padding-left: 42px;
  color: #40403e;
  font-size: 12px;
  font-family: 'Dotum', sans-serif;
  letter-spacing: 0.73px;
}
