/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    /* added personally */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  /* added personally from below */
  a {
    text-decoration: none;
    color: black;
  }

  button {
    padding: 0;
    border: none;
    background: transparent;
  }

  label,
  input[type='radio'],
  button {
    cursor: pointer;
  }

  input[type='checkbox'] {
    margin: 0;
  }

  input[type='text'] {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    background: transparent;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  select {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
  }

  /* for customizing the 'browsing-file' functionality */
  input[type='file'] {
    position: absolute;
    top: -200%;
    left: -200%;
    opacity: 0;
    z-index: -100;
  }

  strong,
  .bolder {
    font-weight: bolder;
  }
}

/* 
#####  ###### #####   ####   ####  #    #   ##   #         #####  ######  ####  ###### #####  ####   ####   ####  
#    # #      #    # #      #    # ##   #  #  #  #         #    # #      #      #        #   #    # #      #      
#    # #####  #    #  ####  #    # # #  # #    # #         #    # #####   ####  #####    #   #       ####   ####  
#####  #      #####       # #    # #  # # ###### #         #####  #           # #        #   #           #      # 
#      #      #   #  #    # #    # #   ## #    # #         #   #  #      #    # #        #   #    # #    # #    # 
#      ###### #    #  ####   ####  #    # #    # ######    #    # ######  ####  ######   #    ####   ####   ####  
*/
.whitespace-remover {
  font-size: 0;
}

table td {
  vertical-align: top;
}

/* 
#####   ####  #####  #   # 
#    # #    # #    #  # #  
#####  #    # #    #   #   
#    # #    # #    #   #   
#    # #    # #    #   #   
#####   ####  #####    #   
*/

body {
  width: 1410px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.wrapper {
  padding-left: 400px;
  padding-right: 230px;
}

/* 
    #    # ######   ##   #####  ###### #####  
    #    # #       #  #  #    # #      #    # 
    ###### #####  #    # #    # #####  #    # 
### #    # #      ###### #    # #      #####  
### #    # #      #    # #    # #      #   #  
### #    # ###### #    # #####  ###### #    # 
*/

.header .title {
  position: relative;
  padding-left: 4px;
}

.header .title::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 780px;
  height: 2px;
  background: url('./images/title_horizontal-line.png');
}

/* 
    #    #   ##   # #    # 
    ##  ##  #  #  # ##   # 
    # ## # #    # # # #  # 
### #    # ###### # #  # # 
### #    # #    # # #   ## 
### #    # #    # # #    # 
*/

.main {
  margin-top: 23px;
}

/* 
#                                      
#           #####   ##   #####   ####  
#             #    #  #  #    # #      
#             #   #    # #####   ####  
#       ###   #   ###### #    #      # 
#       ###   #   #    # #    # #    # 
####### ###   #   #    # #####   ####  
*/

.main .tabs {
  border: 1px solid #e6e6e6;
  background: #f7f7f7;
  font-size: 0;
}

.main .tabs button {
  position: relative;
  padding-top: 6px;
  padding-bottom: 7px;
  padding-left: 11px;
  padding-right: 11px;
  font-family: 'dotum', sans-serif;
  font-weight: bolder;
  /* border-collapse:; */
  /* letter-spacing: -0.5px; */
  border-right: 1px solid #e6e6e6;
}

.main .tabs button:not(.current) {
  color: #777777;
}

.main .tabs .order-cancel {
  /* padding-right: 6px; */
  letter-spacing: -1px;
}

.main .tabs .exchange,
.main .tabs .return {
  letter-spacing: 3.5px;
}

.main .tabs .current {
  background: #ffffff;
}

.main .tabs .current::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 1px;
  border-bottom: 1px solid white;
}

/* 
#           ####### ######  ######  ####### ######        #     # ###  #####  ####### ####### ######  #     # 
#           #     # #     # #     # #       #     #       #     #  #  #     #    #    #     # #     #  #   #  
#           #     # #     # #     # #       #     #       #     #  #  #          #    #     # #     #   # #   
#           #     # ######  #     # #####   ######  ##### #######  #   #####     #    #     # ######     #    
#       ### #     # #   #   #     # #       #   #         #     #  #        #    #    #     # #   #      #    
#       ### #     # #    #  #     # #       #    #        #     #  #  #     #    #    #     # #    #     #    
####### ### ####### #     # ######  ####### #     #       #     # ###  #####     #    ####### #     #    #    
*/

.main .order-history {
  margin-top: 20px;
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: 'dotum', sans-serif;
  font-size: 12px;
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #d5d5d5;
  background: #f5f5f5;
}

.main .order-history::after {
  content: '';
  display: inline-block;
  clear: both;
}

.main .order-history .order-number {
  padding-left: 28px;
}

.main .order-history .order-date {
  padding-left: 232px;
}

.main .order-history .order-number,
.main .order-history .order-date {
  float: left;
}

.main .order-history .order-number .title::before,
.main .order-history .order-date .title::before {
  content: '';
  background: url('./images/order-in-progress_icon.png');
  position: absolute;
  top: 2px;
  left: -14px;
  width: 3px;
  height: 5px;
}

.main .order-history .order-number .title,
.main .order-history .order-date .title {
  display: inline-block;
  position: relative;
  color: #222222;
}

.main .order-history .order-number .content,
.main .order-history .order-date .content {
  color: #ff4c1c;
}

/* 
#####  #    # #####  #      #  ####    ##   ##### ######  ####  
#    # #    # #    # #      # #    #  #  #    #   #      #      
#    # #    # #    # #      # #      #    #   #   #####   ####  
#    # #    # #####  #      # #      ######   #   #           # 
#    # #    # #      #      # #    # #    #   #   #      #    # 
#####   ####  #      ###### #  ####  #    #   #   ######  ####  
*/
.module01 .table01 table,
.module01 .table02 table,
.module02 .table01 table,
.module02 .table02 table,
.table03 table {
  border-top: 1px solid #99bddd;
  border-bottom: 1px solid #99bddd;
}

.module01 .table01 table th,
.module01 .table02 table th,
.module02 .table01 table th,
.module02 .table02 table th,
.table03 table th,
.module01 .table01 table tbody td,
.module01 .table02 table tbody td,
.module02 .table01 table tbody td,
.module02 .table02 table tbody td,
.table03 table td {
  font-family: 'dotum', sans-serif;
  vertical-align: middle;
}

.module01 .table01 table th,
.module01 .table02 table th,
.module02 .table01 table th,
.module02 .table02 table th,
.table03 table th {
  padding-top: 2px;
  padding-bottom: 3px;
  line-height: 24px;
  color: #1770b4;
  font-size: 11px;
  font-weight: bolder;
  text-align: center;
}

.module01 .table01 table tbody td,
.module01 .table02 table tbody td,
.module02 .table01 table tbody td,
.module02 .table02 table tbody td,
.table03 table tbody td {
  padding-top: 3px;
  padding-bottom: 2px;
  line-height: 24px;
  color: #777777;
  font-size: 12px;
  font-weight: normal;
  text-align: left;
}

.module02 .table01 table tbody td,
.module02 .table02 table tbody td,
.table03 table tbody td {
  border-top: 1px solid #cdcdcd;
}

/* 
                                            ###      #   
#    #  ####  #####  #    # #      ######  #   #    ##   
##  ## #    # #    # #    # #      #      #     #  # #   
# ## # #    # #    # #    # #      #####  #     #    #   
#    # #    # #    # #    # #      #      #     #    #   
#    # #    # #    # #    # #      #       #   #     #   
#    #  ####  #####   ####  ###### ######   ###    ##### 
*/

.module01 {
  margin-top: 31px;
}

.module01 .table01 .title::before,
.module01 .table02 .title::before,
.main .refund-amount .title::before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0px;
  width: 9px;
  height: 9px;
  background: url('./images/module1_title_icon.png');
}

.module01 .table01 .title,
.module01 .table02 .title,
.main .refund-amount .title {
  position: relative;
  padding-left: 18px;
  color: #222222;
  font-size: 14px;
  font-family: 'dotum', sans-serif;
  font-weight: bolder;
  letter-spacing: -0.8px;
}

.module01 .table01 table,
.module01 .table02 table {
  margin-top: 9px;
}
/* 
#                                               ###      #   
#           #####   ##   #####  #      ######  #   #    ##   
#             #    #  #  #    # #      #      #     #  # #   
#             #   #    # #####  #      #####  #     #    #   
#       ###   #   ###### #    # #      #      #     #    #   
#       ###   #   #    # #    # #      #       #   #     #   
####### ###   #   #    # #####  ###### ######   ###    ##### 
*/

.module01 .table01 th,
.module01 .table02 th,
.table03 table th {
  border-right: 1px solid #dadada;
}

.module01 .table01 td {
  padding-left: 19px;
}

.module01 .table01 td:not(:last-of-type),
.module01 .table02 td:not(:last-of-type),
.table03 table td:not(:last-of-type) {
  border-right: 1px solid #dadada;
}

.module01 .table01 tr:not(:first-of-type) th,
.module01 .table01 tr:not(:first-of-type) td,
.module01 .table02 tr:not(:first-of-type) th,
.module01 .table02 tr:not(:first-of-type) td {
  border-top: 1px solid #dadada;
}

/* 
#                                               ###    #####  
#           #####   ##   #####  #      ######  #   #  #     # 
#             #    #  #  #    # #      #      #     #       # 
#             #   #    # #####  #      #####  #     #  #####  
#       ###   #   ###### #    # #      #      #     # #       
#       ###   #   #    # #    # #      #       #   #  #       
####### ###   #   #    # #####  ###### ######   ###   ####### 
*/

.module01 .table02 {
  margin-top: 30px;
}

.module01 .table02 td {
  padding-left: 20px;
}

.module01 .table02 td.return-address {
  position: relative;
  padding-top: 27px;
  padding-bottom: 6px;
}

.module01 .table02 .return-address .radio-container {
  position: absolute;
  left: 10px;
  top: 4px;
}

.module01 .table02 .return-address .input-container {
  margin-top: 3px;
}

.module01 .table02 .return-address .input-container::after {
  content: '';
  display: inline-block;
  clear: both;
}

.module01 .table02 .return-address .input-container.postal-code {
  display: inline-block;
  position: relative;
}

.module01 .table02 .return-address .input-container.postal-code .input01 {
  width: 67px;
  float: left;
}

.module01 .table02 .return-address .input-container.postal-code .button01 {
  position: absolute;
  top: -1px;
  right: -42px;
}

.module01
  .table02
  .return-address
  .input-container.postal-code
  .input01
  + .input01::before,
.module01 .table02 td.phone-number .input01::before,
.module01 .table02 td.mobile-number .input01::before {
  content: '';
  position: absolute;
  top: 50%;
  left: -13px;
  width: 7px;
  height: 1px;
  background: url('./images/dash_icon.png');
}

.module01
  .table02
  .return-address
  .input-container.postal-code
  .input01
  + .input01,
.module01 .table02 td.phone-number .input01,
.module01 .table02 td.mobile-number .input01 {
  margin-left: 17px;
}

.module01 .table02 .return-address .input-container.detailed-address .input01 {
  width: 221px;
  float: left;
}

.module01
  .table02
  .return-address
  .input-container.detailed-address
  .input01
  + .input01 {
  width: 309px;
  margin-left: 10px;
}

.module01 .table02 td.phone-number .select01,
.module01 .table02 td.phone-number .input01,
.module01 .table02 td.mobile-number .select01,
.module01 .table02 td.mobile-number .input01 {
  width: 67px;
  float: left;
}

.module01 .table02 td.phone-number .input01,
.module01 .table02 td.mobile-number .input01 {
}

/* 
                                            ###    #####  
#    #  ####  #####  #    # #      ######  #   #  #     # 
##  ## #    # #    # #    # #      #      #     #       # 
# ## # #    # #    # #    # #      #####  #     #  #####  
#    # #    # #    # #    # #      #      #     # #       
#    # #    # #    # #    # #      #       #   #  #       
#    #  ####  #####   ####  ###### ######   ###   ####### 
*/

.module02 > .title::before {
  content: '';
  position: absolute;
  top: 3px;
  left: 1px;
  width: 3px;
  height: 5px;
  background: url('./images/module2_title_icon.png');
}

.module02 > .title {
  position: relative;
  margin-top: 11px;
  padding-left: 10px;
  color: #777777;
  font-size: 12px;
  font-weight: bolder;
  font-family: 'dotum', sans-serif;
}

/* 
#                                               ###      #   
#           #####   ##   #####  #      ######  #   #    ##   
#             #    #  #  #    # #      #      #     #  # #   
#             #   #    # #####  #      #####  #     #    #   
#       ###   #   ###### #    # #      #      #     #    #   
#       ###   #   #    # #    # #      #       #   #     #   
####### ###   #   #    # #####  ###### ######   ###    ##### 
*/

.module02 .table01 {
  margin-top: 9px;
}

/* thead */
.module02 .table01 thead th:not(:last-of-type),
.module02 .table02 thead th:not(:last-of-type) {
  border-right: 1px solid #c6c6c6;
}

.module02 .table01 thead .product-name {
  padding-right: 10px;
  padding-top: 1px;
  padding-bottom: 4px;
}

/* tbody */
.module02 .table01 tbody td:not(:last-of-type),
.module02 .table02 tbody td:not(:last-of-type) {
  border-right: 1px solid #c6c6c6;
}

.module02 .table01 tbody .checkbox,
.module02 .table01 tbody .order-quantity,
.module02 .table01 tbody .price,
.module02 .table01 tbody .return-quantity,
.module02 .table01 tbody .return-reason,
.module02 .table01 tbody .memo {
  text-align: center;
}

.module02 .table01 tbody .product-name {
  padding-left: 13px;
}

.module02 .table01 tbody .price {
  padding-right: 8px;
  text-align: right;
}

.module02 .table01 tbody .return-quantity .input01 {
  position: absolute;
  top: 1px;
  left: 13px;
}

.module02 .table01 tbody .return-quantity span::before {
  content: '';
  position: absolute;
  left: -10px;
  top: 0;
  width: 6px;
  height: 11px;
  background: url('./images/slash.png');
}

.module02 .table01 tbody .return-quantity span {
  position: relative;
}

.module02 .table01 tbody .return-reason,
.module02 .table01 tbody .memo {
  padding-top: 2px;
  padding-bottom: 3px;
}

.module02 .table01 tbody .return-reason {
  padding-left: 1px;
}

.module02 .table01 tbody .return-reason .select01 {
  width: 85px;
  margin: 0 auto;
}

.module02 .table01 tbody .return-quantity .input01 {
  width: 28px;
}

.module02 .table01 tbody .memo .input01 {
  width: 159px;
  margin: 0 auto;
}

.module02 .table01 tbody .memo .input01 input {
  color: #777777;
  font-size: 11px;
}

/* 
#                                               ###    #####  
#           #####   ##   #####  #      ######  #   #  #     # 
#             #    #  #  #    # #      #      #     #       # 
#             #   #    # #####  #      #####  #     #  #####  
#       ###   #   ###### #    # #      #      #     # #       
#       ###   #   #    # #    # #      #       #   #  #       
####### ###   #   #    # #####  ###### ######   ###   ####### 
*/

/* thead */
.module02 .table02 {
  margin-top: 10px;
}

.module02 .table02 thead .shipping-method {
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 10px;
}

.module02 .table02 thead .return-fee {
  padding-top: 1px;
  padding-bottom: 4px;
  padding-left: 2px;
}

.module02 .table02 thead .charge-bearer {
  padding-left: 2px;
}

.module02 .table02 thead .return-method {
  padding-left: 2px;
}

/* tbody */
.module02 .table02 tbody .shipping-method {
  padding-right: 8px;
  text-align: center;
}

.module02 .table02 tbody .return-fee {
  padding-right: 8px;
  text-align: right;
}

.module02 .table02 tbody .charge-bearer {
  padding-right: 1px;
  text-align: center;
}

.module02 .table02 tbody .return-method {
  padding-left: 14px;
  text-align: left;
}

/* 
#                                                                                                                                             
#            ####  #    # ######  ####  #    #       #####  ###### ###### #    # #    # #####          ##   #    #  ####  #    # #    # ##### 
#           #    # #    # #      #    # #   #        #    # #      #      #    # ##   # #    #        #  #  ##  ## #    # #    # ##   #   #   
#           #      ###### #####  #      ####   ##### #    # #####  #####  #    # # #  # #    # ##### #    # # ## # #    # #    # # #  #   #   
#       ### #      #    # #      #      #  #         #####  #      #      #    # #  # # #    #       ###### #    # #    # #    # #  # #   #   
#       ### #    # #    # #      #    # #   #        #   #  #      #      #    # #   ## #    #       #    # #    # #    # #    # #   ##   #   
####### ###  ####  #    # ######  ####  #    #       #    # ###### #       ####  #    # #####        #    # #    #  ####   ####  #    #   #   
*/
.main .check-refund-amount {
  position: relative;
  margin-top: 20px;
  padding-right: 15px;
  padding-top: 9px;
  padding-bottom: 11px;
  border-top: 1px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
  background: #f5f5f5;
}

.main .check-refund-amount p {
  position: absolute;
  top: 16px;
  left: 10px;
  line-height: 20px;
  color: #333333;
  font-family: 'dotum', sans-serif;
  font-size: 12px;
  font-weight: bolder;
}

.main .check-refund-amount .button02 {
  float: right;
}

.main .check-refund-amount .button02 > .tail > .body {
  padding-top: 7px;
  padding-left: 8px;
  padding-right: 6px;
}

.main .check-refund-amount::after {
  content: '';
  display: block;
  clear: both;
}

/* 
#                                                                                                    
#           #####  ###### ###### #    # #    # #####          ##   #    #  ####  #    # #    # ##### 
#           #    # #      #      #    # ##   # #    #        #  #  ##  ## #    # #    # ##   #   #   
#           #    # #####  #####  #    # # #  # #    # ##### #    # # ## # #    # #    # # #  #   #   
#       ### #####  #      #      #    # #  # # #    #       ###### #    # #    # #    # #  # #   #   
#       ### #   #  #      #      #    # #   ## #    #       #    # #    # #    # #    # #   ##   #   
####### ### #    # ###### #       ####  #    # #####        #    # #    #  ####   ####  #    #   #                                                                                      
*/

.main .refund-amount {
  position: relative;
  margin-top: 30px;
}

.main .refund-amount .table03 {
  margin-top: 9px;
}

.main .refund-amount .table03 tbody .payment-method {
  padding-left: 14px;
}

.main .refund-amount .table03 tbody .refund-method {
  padding-left: 15px;
}

.main .refund-amount .table03 tbody .order-price,
.main .refund-amount .table03 tbody .additional-payment-price,
.main .refund-amount .table03 tbody .refund-amount {
  text-align: right;
}

.main .refund-amount .table03 tbody .order-price,
.main .refund-amount .table03 tbody .refund-amount {
  padding-right: 8px;
}

.main .refund-amount .table03 tbody .additional-payment-price.credit-card {
  position: relative;
  padding-right: 24px;
}

.main .refund-amount .table03 tbody .additional-payment-price.credit-card span {
  position: relative;
}

.main
  .refund-amount
  .table03
  tbody
  .additional-payment-price.credit-card
  span::after {
  content: '';
  position: absolute;
  top: -1px;
  right: -14px;
  width: 13px;
  height: 13px;
  background: url('./images/question-mark_icon.png');
  cursor: pointer;
}

.main .refund-amount + .button-container {
  margin-top: 9px;
  text-align: right;
}

.main .refund-amount + .button-container button + button {
  margin-left: 2px;
}

.main .refund-amount + .button-container .button02 > .tail > .body {
  padding-left: 27px;
  padding-right: 26px;
}

.main .refund-amount + .button-container .button03 > .tail > .body {
  padding-left: 37px;
  padding-right: 36px;
}

/* 
                                   ###      #   
    # #    # #####  #    # #####  #   #    ##   
    # ##   # #    # #    #   #   #     #  # #   
    # # #  # #    # #    #   #   #     #    #   
### # #  # # #####  #    #   #   #     #    #   
### # #   ## #      #    #   #    #   #     #   
### # #    # #       ####    #     ###    ##### 
*/

.input-container01 {
  position: relative;
  padding-left: 46px;
}

label.input-container01 {
  display: block;
}

.input01 {
  position: relative;
  height: 20px;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}

.input01 input {
  padding-top: 3px;
  padding-left: 9px;
  color: #777777;
  font-size: 11px;
  font-family: 'dotum', sans-serif;
  vertical-align: top;
}

.input01.memo input {
  padding-top: 2px;
  padding-left: 5px;
}

.input01.quantity input {
  padding-top: 2px;
  padding-left: 0px;
}

/* 
                                               ###      #   
     ####  ###### #      ######  ####  #####  #   #    ##   
    #      #      #      #      #    #   #   #     #  # #   
     ####  #####  #      #####  #        #   #     #    #   
###      # #      #      #      #        #   #     #    #   
### #    # #      #      #      #    #   #    #   #     #   
###  ####  ###### ###### ######  ####    #     ###    ##### 
*/
.select01 {
  height: 20px;
  border: 1px solid #bebebe;
  box-sizing: border-box;
}

.select01 select {
  color: #777777;
  font-family: 'dotum', sans-serif;
  letter-spacing: -0.5px;
  vertical-align: top;
}

.select01.number select {
  padding-top: 3px;
  padding-left: 5px;
  font-size: 11px;
}

.select01.return-reason select {
  padding-top: 0px;
  padding-left: 4px;
  font-size: 12px;
}

/* 
    #####  #    # ##### #####  ####  #    # 
    #    # #    #   #     #   #    # ##   # 
    #####  #    #   #     #   #    # # #  # 
### #    # #    #   #     #   #    # #  # # 
### #    # #    #   #     #   #    # #   ## 
### #####   ####    #     #    ####  #    # 
*/

.button01,
.button01 > .tail,
.button01 > .tail > .body {
  display: inline-block;
  height: 22px;
  vertical-align: top;
}

.button01 {
  padding-left: 2px;
  background: url('./images/button01_head.png') left no-repeat;
}

.button01 > .tail {
  padding-right: 2px;
  background: url('./images/button01_tail.png') right no-repeat;
}

.button01 > .tail > .body {
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 4px;
  font-family: 'dotum', sans-serif;
  font-size: 11px;
  font-weight: bolder;
  color: #ffffff;
  background: url('./images/button01_body.png') center repeat-x;
  box-sizing: border-box;
  letter-spacing: -0.5px;
}

.button02,
.button03 {
  padding-left: 4px;
}

.button02 {
  background: url('./images/button02_head.png') left no-repeat;
}

.button03 {
  background: url('./images/button03_head.png') left no-repeat;
}

.button02 > .tail,
.button03 > .tail {
  padding-right: 5px;
}

.button02 > .tail {
  background: url('./images/button02_tail.png') right no-repeat;
}

.button03 > .tail {
  background: url('./images/button03_tail.png') right no-repeat;
}

.button02 > .tail > .body,
.button03 > .tail > .body {
  padding-top: 8px;
  box-sizing: border-box;
}

.button02 > .tail > .body {
  background: url('./images/button02_body.png') center repeat-x;
}

.button03 > .tail > .body {
  background: url('./images/button03_body.png') center repeat-x;
}

.button02,
.button02 > .tail,
.button02 > .tail > .body,
.button03,
.button03 > .tail,
.button03 > .tail > .body {
  display: inline-block;
  height: 32px;
  vertical-align: top;
}
