/* 
      #    #  ####  #####  #    # #      ######  ####        
      ##  ## #    # #    # #    # #      #      #            
##### # ## # #    # #    # #    # #      #####   ####  ##### 
      #    # #    # #    # #    # #      #           #       
      #    # #    # #    # #    # #      #      #    #       
      #    #  ####  #####   ####  ###### ######  ####        
*/

/* 
#####  #    # ##### #####  ####  #    # 
#    # #    #   #     #   #    # ##   # 
#####  #    #   #     #   #    # # #  # 
#    # #    #   #     #   #    # #  # # 
#    # #    #   #     #   #    # #   ## 
#####   ####    #     #    ####  #    # 
*/

.button00,
.button00 > .tail,
.button00 > .tail > .body {
  display: inline-block;
  height: 39px;
  vertical-align: top;
}

.button00.noncurrent {
  padding-left: 2px;
  background: url('../images/header/navigation/tab_head.png') left no-repeat;
}

.button00.noncurrent > .tail {
  padding-right: 2px;
  background: url('../images/header/navigation/tab_tail.png') right no-repeat;
}

.button00.noncurrent > .tail > .body {
  width: 100px;
  background: url('../images/header/navigation/tab_body.png') center repeat-x;
  box-sizing: border-box;
}

.button00 > .tail > .body {
  padding-top: 15px;
}

.button00.current > .tail > .body {
  box-sizing: border-box;
  width: 104px;
}

.button00.current {
  background: #8009ef;
  height: 39px;
}

/* 
    #####    ##   #    # #    # ###### #####  
    #    #  #  #  ##   # ##   # #      #    # 
    #####  #    # # #  # # #  # #####  #    # 
### #    # ###### #  # # #  # # #      #####  
### #    # #    # #   ## #   ## #      #   #  
### #####  #    # #    # #    # ###### #    # 
*/

.banner00.head {
  padding-top: 10px;
  background: url('../images/main/banner/left/background_head.png') top no-repeat;
}

.banner00.head > .tail {
  padding-bottom: 8px;
  background: url('../images/main/banner/left/background_tail.png') bottom no-repeat;
}

.banner00.head > .tail > .body {
  background: url('../images/main/banner/left/background_body.png') center;
}

body > .wrapper {
  width: 1266px;
  margin: 0 auto;
  /* padding-left: 127px; */
}

/* 
    #    # ######   ##   #####  ###### #####  
    #    # #       #  #  #    # #      #    # 
    ###### #####  #    # #    # #####  #    # 
### #    # #      ###### #    # #      #####  
### #    # #      #    # #    # #      #   #  
### #    # ###### #    # #####  ###### #    # 
*/

.header {
  position: relative;
  padding-top: 21px;
}

.header .title {
  text-align: center;
}

/* 
#                                               
#           #    # ##### # #      # ##### #   # 
#           #    #   #   # #      #   #    # #  
#           #    #   #   # #      #   #     #   
#       ### #    #   #   # #      #   #     #   
#       ### #    #   #   # #      #   #     #   
####### ###  ####    #   # ###### #   #     #   
*/

.header .utility {
  position: absolute;
  top: 0;
  right: 136px;
}

.header .utility > li {
  display: inline-block;
  padding-left: 16px;
}

.header .utility > li > a {
  display: block;
  font-family: 'dotum', sans-serif;
  font-size: 11px;
  line-height: 18px;
  color: #484848;
}

.header .utility > li > a:hover {
  font-weight: bolder;
  color: #8009ef;
  text-decoration: underline;
}

/* 
    #    #   ##   # #    # 
    ##  ##  #  #  # ##   # 
    # ## # #    # # # #  # 
### #    # ###### # #  # # 
### #    # #    # # #   ## 
### #    # #    # # #    # 
*/

.main {
  position: relative;
  padding-left: 127px;
}

/* 
#                                                                      
#           #    #   ##   #    # #  ####    ##   ##### #  ####  #    # 
#           ##   #  #  #  #    # # #    #  #  #    #   # #    # ##   # 
#           # #  # #    # #    # # #      #    #   #   # #    # # #  # 
#       ### #  # # ###### #    # # #  ### ######   #   # #    # #  # # 
#       ### #   ## #    #  #  #  # #    # #    #   #   # #    # #   ## 
####### ### #    # #    #   ##   #  ####  #    #   #   #  ####  #    # 
*/

.main .navigation {
  position: relative;
  margin-top: 18px;
  padding-left: 127px;
}

.main .navigation::after {
  content: '';
  display: block;
  clear: both;
}

.main .navigation > li {
  float: left;
  margin-right: 3px;
  vertical-align: top;
}

.main .navigation > li > .subnavigation {
  position: absolute;
  left: 0;
  background: #272524;
}

.main .navigation > li > .subnavigation::after {
  content: '';
  display: block;
  clear: both;
}

.main .navigation > li > .subnavigation > li {
  float: left;
  padding-left: 9px;
  padding-right: 74px;
  padding-top: 26px;
  padding-bottom: 27px;
  box-sizing: border-box;
}

.main .navigation > li > .subnavigation > li > ul {
  padding-top: 9px;
}

.main .navigation > li > .subnavigation > li > ul > li > a {
  font-family: 'dotum', sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #ffffff;
}

.main .navigation > li > .subnavigation > li > ul > li > a:hover {
  text-decoration: underline;
}

.main .navigation > li > .subnavigation > li > ul > li > a:active {
  background: #8009ef;
  text-decoration: none;
}

.main .navigation > li > .subnavigation > li > ul > li > .icon_n {
  padding-right: 16px;
  background: url('../images/header/navigation/subnavigation/icon_N.png') right no-repeat;
}

.main .navigation > li > .subnavigation > li > ul > li > .icon_r {
  padding-right: 15px;
  background: url('../images/header/navigation/subnavigation/icon_R.png') right no-repeat;
}

.main .navigation > li > .subnavigation > li > ul > li > .icon_rn {
  padding-right: 29px;
  background: url('../images/header/navigation/subnavigation/icon_RN.png') right no-repeat;
}

/* 
#                                                                  
#           #    # ###### #    # #    #       #####    ##   #####  
#           ##  ## #      ##   # #    #       #    #  #  #  #    # 
#           # ## # #####  # #  # #    # ##### #####  #    # #    # 
#       ### #    # #      #  # # #    #       #    # ###### #####  
#       ### #    # #      #   ## #    #       #    # #    # #   #  
####### ### #    # ###### #    #  ####        #####  #    # #    # 
*/

/* 
#                                                                                  
#           #    #   ##   # #    #       #####    ##   #    # #    # ###### #####  
#           ##  ##  #  #  # ##   #       #    #  #  #  ##   # ##   # #      #    # 
#           # ## # #    # # # #  # ##### #####  #    # # #  # # #  # #####  #    # 
#       ### #    # ###### # #  # #       #    # ###### #  # # #  # # #      #####  
#       ### #    # #    # # #   ##       #    # #    # #   ## #   ## #      #   #  
####### ### #    # #    # # #    #       #####  #    # #    # #    # ###### #    #
*/

/* 
#                                                                                              
#           #####   ##   #####         ####   ####  #    # #####   ##   # #    # ###### #####  
#             #    #  #  #    #       #    # #    # ##   #   #    #  #  # ##   # #      #    # 
#             #   #    # #####  ##### #      #    # # #  #   #   #    # # # #  # #####  #    # 
#       ###   #   ###### #    #       #      #    # #  # #   #   ###### # #  # # #      #####  
#       ###   #   #    # #    #       #    # #    # #   ##   #   #    # # #   ## #      #   #  
####### ###   #   #    # #####         ####   ####  #    #   #   #    # # #    # ###### #    # 
*/

/* 
#                                                     
#           #####    ##   #    # #    # ###### #####  
#           #    #  #  #  ##   # ##   # #      #    # 
#           #####  #    # # #  # # #  # #####  #    # 
#       ### #    # ###### #  # # #  # # #      #####  
#       ### #    # #    # #   ## #   ## #      #   #  
####### ### #####  #    # #    # #    # ###### #    # 
*/

.main .banner .left,
.main .banner .right {
  width: 126px;
}

.main .banner .left {
  position: absolute;
  left: -6px;
  top: 38px;
  text-align: center;
}

.main .banner .left .customer-zone > .title {
  box-sizing: border-box;
  padding-top: 8px;
  padding-right: 1px;
}

.main .banner .left .head > .tail > .body > .title,
.main .banner .right .head > .tail > .body > .title {
  width: 124px;
  height: 36px;
  background: url('../images/main/banner/left/header-frame.png') no-repeat;
}

.main .banner .left .head > .tail > .body > .title {
  background: url('../images/main/banner/left/header-frame.png') 1px -4px no-repeat;

  padding-top: 4px;
  box-sizing: border-box;
}

.main .banner .left .head > .tail > .body > ul {
  padding-top: 9px;
}

.main .banner .right {
  position: absolute;
  right: 0px;
  top: 0;
}

.main .banner .right .banner-zone > .title {
  text-align: center;
}

/* 
    ######  ####   ####  ##### ###### #####  
    #      #    # #    #   #   #      #    # 
    #####  #    # #    #   #   #####  #    # 
### #      #    # #    #   #   #      #####  
### #      #    # #    #   #   #      #   #  
### #       ####   ####    #   ###### #    # 
*/

/*
########  ########  ######  ######## ########  ######   ######   ######  
##     ## ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ##       ##       ##          ##    ##       ##       ##       
########  ######    ######  ######      ##    ##        ######   ######  
##   ##   ##             ## ##          ##    ##             ##       ## 
##    ##  ##       ##    ## ##          ##    ##    ## ##    ## ##    ## 
##     ## ########  ######  ########    ##     ######   ######   ######  
*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@media only screen {
  html,
  body,
  div,
  span,
  applet,
  object,
  iframe,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  blockquote,
  pre,
  a,
  abbr,
  acronym,
  address,
  big,
  cite,
  code,
  del,
  dfn,
  em,
  img,
  ins,
  kbd,
  q,
  s,
  samp,
  small,
  strike,
  strong,
  sub,
  sup,
  tt,
  var,
  b,
  u,
  i,
  center,
  dl,
  dt,
  dd,
  ol,
  ul,
  li,
  fieldset,
  form,
  label,
  legend,
  table,
  caption,
  tbody,
  tfoot,
  thead,
  tr,
  th,
  td,
  article,
  aside,
  canvas,
  details,
  embed,
  figure,
  figcaption,
  footer,
  header,
  hgroup,
  menu,
  nav,
  output,
  ruby,
  section,
  summary,
  time,
  mark,
  audio,
  video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /* font: inherit; */
    vertical-align: baseline;
  }
  /* HTML5 display-role reset for older browsers */
  article,
  aside,
  details,
  figcaption,
  figure,
  footer,
  header,
  hgroup,
  menu,
  nav,
  section {
    display: block;
  }
  body {
    line-height: 1;
  }
  ol,
  ul {
    list-style: none;
  }
  blockquote,
  q {
    quotes: none;
  }
  blockquote:before,
  blockquote:after,
  q:before,
  q:after {
    content: '';
    content: none;
  }
  table {
    /* added personally */
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
  }

  /* added personally from below */
  a {
    text-decoration: none;
    color: black;
  }

  button {
    padding: 0;
    border: none;
    background: transparent;
  }

  label,
  input[type='radio'],
  button {
    cursor: pointer;
  }

  input[type='checkbox'],
  input[type='radio'] {
    margin: 0;
  }

  input[type='text'] {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    background: transparent;
  }

  textarea {
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }

  select {
    padding: 0;
    width: 100%;
    height: 100%;
    border: 0 none;
    box-sizing: border-box;
  }

  /* for customizing the 'browsing-file' functionality */
  input[type='file'] {
    position: absolute;
    top: -200%;
    left: -200%;
    opacity: 0;
    z-index: -100;
  }

  strong,
  .bolder {
    font-weight: bolder;
  }
}

/* 
#####  ###### #####   ####   ####  #    #   ##   #         #####  ######  ####  ###### #####  ####   ####   ####  
#    # #      #    # #      #    # ##   #  #  #  #         #    # #      #      #        #   #    # #      #      
#    # #####  #    #  ####  #    # # #  # #    # #         #    # #####   ####  #####    #   #       ####   ####  
#####  #      #####       # #    # #  # # ###### #         #####  #           # #        #   #           #      # 
#      #      #   #  #    # #    # #   ## #    # #         #   #  #      #    # #        #   #    # #    # #    # 
#      ###### #    #  ####   ####  #    # #    # ######    #    # ######  ####  ######   #    ####   ####   ####  
*/
.whitespace-remover {
  font-size: 0;
}

table td {
  vertical-align: top;
}
